.c-nav {
    position: relative;
}

.c-nav__logo {
    position: absolute;
    width: 100px;
    margin-top: 24px;
    margin-left: 20px;
}

.c-nav__toggle {
    position: absolute;
    top: 30px;
    right: 20px;
    z-index: 2000;
    width: 20px;
    height: 2px;
    background-color: #fff;
    color: transparent;
    &::before,
    &::after {
        position: absolute;
        right: 0px;
        display: block;
        width: 20px;
        height: 2px;
        background-color: #fff;
        content: "";
    }
    &::before {
        bottom: 7px;
    }
    &::after {
        top: 7px;
    }
}

.menu__tag {
    position: absolute;
    bottom: -4px;
    right: 32px;
    color: #fff;
    font-size: 10px;
    @include font-family("en");
    letter-spacing: 1.5px;
}

.menu__button {
    position: absolute;
    top: -20px;
    right: 0;
    display: block;
    width: 90px;
    height: 44px;
}

.c-menu {
    position: relative;
    width: 100%;
    padding: 20px;
    @include font-family("en");
}

.c-menu__body {
    display: block;
    width: 230px;
    margin: auto;
    padding: 100px 0;
}

.menu__link {
    display: block;
    width: 100%;
    margin-bottom: 60px;
    color: #000;
    font-size: 10px;
    letter-spacing: 1px;
    span {
        display: block;
        margin-bottom: 8px;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 2px;
    }
}

.menu__entry {
    display: block;
    width: 225px;
    height: 45px;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    line-height: 2.3;
    background: #ffff00;
    &:hover {
        opacity: .8;
    }
}
