.c-nav {
    position: relative;
}

.c-nav__logo {
    position: absolute;
    width: 120px;
    margin-top: 42px;
    margin-left: 25px;
    .logo {}
}

.c-nav__toggle {
    position: absolute;
    top: 50px;
    right: 30px;
    z-index: 2000;
    width: 35px;
    height: 3px;
    background-color: #fff;
    color: transparent;
    &::before,
    &::after {
        position: absolute;
        right: 0px;
        display: block;
        width: 35px;
        height: 3.5px;
        background-color: #fff;
        content: "";
    }
    &::before {
        bottom: 13px;
    }
    &::after {
        top: 13px;
    }
}

.menu__tag {
    position: absolute;
    bottom: -5px;
    right: 45px;
    color: #fff;
    @include font-family("en");
    font-weight: bold;
    letter-spacing: 3px;
}

.menu__button {
    position: absolute;
    top: -20px;
    right: 0;
    display: block;
    width: 90px;
    height: 44px;
}
