.c-nav {
    position: relative;
    @include mq-up(lg) {
        width: 1090px;
        margin: auto;
        padding-top: 20px;
    }
}

.c-nav__logo {
    position: absolute;
    width: 100px;
    margin-top: 24px;
    margin-left: 20px;
    @include mq-up(lg) {
        width: 180px;
    }
}

.c-nav__toggle {
    position: absolute;
    top: 30px;
    right: 20px;
    z-index: 2000;
    width: 20px;
    height: 2px;
    background-color: #fff;
    color: transparent;
    &::before,
    &::after {
        position: absolute;
        right: 0px;
        display: block;
        width: 20px;
        height: 2px;
        background-color: #fff;
        content: "";
    }
    &::before {
        bottom: 7px;
    }
    &::after {
        top: 7px;
    }
    @include mq-up(lg) {
        display: none;
    }
}

.menu__tag {
    position: absolute;
    bottom: -4px;
    right: 32px;
    color: #fff;
    font-size: 10px;
    @include font-family("en");
    letter-spacing: 1.5px;
}

.menu__button {
    position: absolute;
    top: -20px;
    right: 0;
    display: block;
    width: 90px;
    height: 44px;
}

.c-menu {
    position: relative;
    width: 100%;
    padding: 20px;
    @include font-family("en");
}

.c-menu__body {
    display: block;
    width: 230px;
    margin: auto;
    padding: 100px 0;
    @include mq-up(lg) {
        display: flex;
        width: 665px;
        padding: 0;
        margin: auto 0 auto auto;
        text-align: center;
        justify-content: space-between;
        li:not(:last-child) .menu__link {
            color: #fff;
        }
    }
}

.menu__link {
    display: block;
    width: 100%;
    margin-bottom: 60px;
    color: #000;
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: normal;
    span {
        display: block;
        margin-bottom: 8px;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 2px;
    }
    @include mq-up(lg) {
        margin-bottom: 0;
        font-size: 11px;
        span {
            font-size: 13px;
        }
    }
}

.menu__entry {
    display: block;
    position: relative;
    width: 225px;
    height: 45px;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    line-height: 2.3;
    background: #ffff00;
    &:hover {
        opacity: .3;
    }
    @include mq-up(lg) {
        width: 160px;
        height: 40px;
        font-size: 15px;
        line-height: 2.5;
    }
}

.menu__entry::after {
    display: block;
    position: absolute;
    right: 28px;
    bottom: 14px;
    width: 10px;
    height: 10px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDEwMDAgMTAwMCI+PGcgZmlsbD0iIzAwMCI+PHBhdGggZD0iTTg4Ny4yLDIwOS4yTDQ5OS43LDU4OS4xTDExMi44LDIwOS43TDEwLDMxMC41bDQ4OS43LDQ4MC4zTDk5MCwzMTBMODg3LjIsMjA5LjJ6Ii8+PC9nPg0KPC9zdmc+DQo=);
    content: "";
}
