.c-slider {
    position: relative;
    z-index: 200;
    width: 100%;
    max-width: 220px;
    margin: 0 auto;
    @include mq-up(lg) {
        width: 100%;
        max-width: 700px;
    }
}

.c-slider__slides {
    position: relative;
}

.slides__inner {
    width: 500%;
    @include mq-down(lg) {
        //width: 1500%;
    }
}

.slides__inner::after {
    display: block;
    height: 0;
    clear: both;
    content: "";
}

.slides--pc {
    display: none;
    width: 100%;
    @include mq-up(lg) {
        display: block;
    }
}

.slides--sp {
    display: block;
    width: 100%;
    @include mq-up(lg) {
        display: none;
    }
}

.slide {
    float: left;
    @include mq-down(lg) {
        width: 20%;
    }
    &:not(:nth-child(3n)) {
        @include mq-up(lg) {
            margin-right: 20px;
        }
    }
}

.overflow {
    overflow: hidden;
}

.c-slider input {
    display: none;
}

.c-slider__controls {
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    height: 50px;
}

.c-slider__controls label {
    display: none;
    cursor: pointer;
}

#slide-1:checked~.c-slider__controls label:nth-child(2),
#slide-2:checked~.c-slider__controls label:nth-child(3),
#slide-3:checked~.c-slider__controls label:nth-child(4),
#slide-4:checked~.c-slider__controls label:nth-child(5),
#slide-5:checked~.c-slider__controls label:nth-child(1),
#slide1-1:checked~.c-slider__controls label:nth-child(2),
#slide1-2:checked~.c-slider__controls label:nth-child(3),
#slide1-3:checked~.c-slider__controls label:nth-child(4),
#slide1-4:checked~.c-slider__controls label:nth-child(5),
#slide1-5:checked~.c-slider__controls label:nth-child(1),
#slide2-1:checked~.c-slider__controls label:nth-child(2),
#slide2-2:checked~.c-slider__controls label:nth-child(3),
#slide2-3:checked~.c-slider__controls label:nth-child(4),
#slide2-4:checked~.c-slider__controls label:nth-child(5),
#slide2-5:checked~.c-slider__controls label:nth-child(1),
#slide3-1:checked~.c-slider__controls label:nth-child(2),
#slide3-2:checked~.c-slider__controls label:nth-child(3),
#slide3-3:checked~.c-slider__controls label:nth-child(4),
#slide3-4:checked~.c-slider__controls label:nth-child(5),
#slide3-5:checked~.c-slider__controls label:nth-child(1) {
    display: block;
    width: 28px;
    height: 28px;
    margin-right: -40px;
    background-image: url(../../../images/right.svg);
    background-position: center;
    background-repeat: no-repeat;
    float: right;
}

#slide-1:checked~.c-slider__controls label:nth-child(5),
#slide-2:checked~.c-slider__controls label:nth-child(1),
#slide-3:checked~.c-slider__controls label:nth-child(2),
#slide-4:checked~.c-slider__controls label:nth-child(3),
#slide-5:checked~.c-slider__controls label:nth-child(4),
#slide1-1:checked~.c-slider__controls label:nth-child(5),
#slide1-2:checked~.c-slider__controls label:nth-child(1),
#slide1-3:checked~.c-slider__controls label:nth-child(2),
#slide1-4:checked~.c-slider__controls label:nth-child(3),
#slide1-5:checked~.c-slider__controls label:nth-child(4),
#slide2-1:checked~.c-slider__controls label:nth-child(5),
#slide2-2:checked~.c-slider__controls label:nth-child(1),
#slide2-3:checked~.c-slider__controls label:nth-child(2),
#slide2-4:checked~.c-slider__controls label:nth-child(3),
#slide2-5:checked~.c-slider__controls label:nth-child(4),
#slide3-1:checked~.c-slider__controls label:nth-child(5),
#slide3-2:checked~.c-slider__controls label:nth-child(1),
#slide3-3:checked~.c-slider__controls label:nth-child(2),
#slide3-4:checked~.c-slider__controls label:nth-child(3),
#slide3-5:checked~.c-slider__controls label:nth-child(4) {
    display: block;
    width: 28px;
    height: 28px;
    float: left;
    margin-left: -40px;
    background-image: url(../../../images/left.svg);
    background-position: center;
    background-repeat: no-repeat;
}

#slide-1:checked~.c-slider__slides .slides__inner,
#slide1-1:checked~.c-slider__slides .slides__inner,
#slide2-1:checked~.c-slider__slides .slides__inner,
#slide3-1:checked~.c-slider__slides .slides__inner {
    margin-left: 0;
}

#slide-2:checked~.c-slider__slides .slides__inner,
#slide1-2:checked~.c-slider__slides .slides__inner,
#slide2-2:checked~.c-slider__slides .slides__inner,
#slide3-2:checked~.c-slider__slides .slides__inner {
    margin-left: -100%;
}

#slide-3:checked~.c-slider__slides .slides__inner,
#slide1-3:checked~.c-slider__slides .slides__inner,
#slide2-3:checked~.c-slider__slides .slides__inner,
#slide3-3:checked~.c-slider__slides .slides__inner {
    margin-left: -200%;
}

#slide-4:checked~.c-slider__slides .slides__inner,
#slide1-4:checked~.c-slider__slides .slides__inner,
#slide2-4:checked~.c-slider__slides .slides__inner,
#slide3-4:checked~.c-slider__slides .slides__inner {
    margin-left: -300%;
}

#slide-5:checked~.c-slider__slides .slides__inner,
#slide1-5:checked~.c-slider__slides .slides__inner,
#slide2-5:checked~.c-slider__slides .slides__inner,
#slide3-5:checked~.c-slider__slides .slides__inner {
    margin-left: -400%;
}

.c-slider__slides .slides__inner {
    transition: all 0.8s ease-in-out;
}

.l-container {
    @include mq-up(md) {}
    @include mq-up(lg) {}
    @include mq-up(xl) {}
}
