.c-sectiontitel {
    position: relative;
    z-index: 100;
    margin-bottom: 8px;
    @include font-family("en");
    font-weight: bold;
    color: #393939;
    font-size: 50px;
    text-align: center;
}

.c-sectiontext {
    position: relative;
    z-index: 100;
    margin-bottom: 30px;
    color: #6f6f6f;
    text-align: center;
}
