.c-sectiontitel {
    position: relative;
    z-index: 100;
    margin-bottom: 8px;
    @include font-family("en");
    font-weight: bold;
    color: #393939;
    font-size: 50px;
    text-align: center;
    letter-spacing: 1px;
}

.c-sectiontext {
    position: relative;
    z-index: 100;
    margin-bottom: 30px;
    color: #6f6f6f;
    font-weight: bold;
    text-align: center;
    letter-spacing: .5px;
}

.c-sectiontitel--sub {
    margin-bottom: 8px;
    color: #6f6f6f;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
