.c-sectiontitel {
    position: relative;
    z-index: 300;
    width: 100%;
    max-width: 1090px;
    margin: 0 auto 6px;
    padding: 0 20px;
    @include font-family("en");
    font-weight: bold;
    color: #393939;
    font-size: 50px;
    text-align: center;
    letter-spacing: 1px;
    @include mq-up(lg) {
        margin-bottom: 0;
        font-size: 120px;
        font-weight: 500;
        letter-spacing: -3px;
    }
    &+.c-sectiontext {
        margin-bottom: 30px;
        font-weight: bold;
        letter-spacing: 1px;
        @include mq-up(lg) {
            margin-bottom: 45px;
        }
    }
}

h3.c-sectiontitel {
    position: relative;
    z-index: 300;
    width: 100%;
    max-width: 1090px;
    margin: 0 auto 8px;
    padding: 0 20px;
    @include font-family("en");
    font-weight: bold;
    color: #393939;
    font-size: 48px;
    text-align: center;
    letter-spacing: 1px;
    @include mq-up(lg) {
        margin-bottom: 14px;
        font-size: 90px;
        font-weight: 500;
        letter-spacing: 0px;
    }
}

.c-sectiontext {
    position: relative;
    z-index: 300;
    max-width: 1090px;
    margin: 0 auto 8px;
    font-size: 11px;
    color: #6f6f6f;
    @include font-family("en");
    font-weight: normal;
    text-align: center;
    letter-spacing: .5px;
    @include mq-up(lg) {
        font-size: 16px;
        font-weight: normal;
    }
}

.c-sectiontitel--sub {
    margin-bottom: 8px;
    color: #6f6f6f;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1.5px;
    @include mq-up(lg) {
        margin: 10px auto 20px;
        font-size: 55px;
        font-weight: bold;
    }
    &+.c-sectiontext {
        @include mq-up(lg) {
            margin-bottom: 75px;
            font-weight: bold;
        }
    }
}
