/*****-------------------------------
    Layout
-------------------------------*****/

.l-header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    @include mq-up(md) {}
}

.l-loading {
    background: #fff;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 100;
    overflow: hidden;
}

.l-keyviasual {
    position: relative;
}

.l-about {
    position: relative;
    z-index: 1000;
    padding: 50px 20px 0 20px;
    background-color: #fff;
}

.l-contents {
    position: relative;
    padding: 50px 20px 40px 20px;
    background-color: rgba($main, .2);
}

.l-contents::after {
    display: block;
    position: absolute;
    top: -85px;
    left: -50px;
    transform: rotate(-10deg);
    width: 120%;
    height: 200px;
    background-color: #fff;
    content: "";
}

.l-schedule {
    position: relative;
    width: 100%;
    background-color: #f4f4f4;
}

.l-member,
.l-ambassador {
    position: relative;
    bottom: 150px;
    padding: 50px 0 20px;
    overflow: hidden;
    background-color: #fff;
}

.l-qa {
    position: relative;
    bottom: 153px;
    padding: 24px 20px 30px;
    background-color: #f4f4f4;
}

.l-partner {
    position: relative;
    bottom: 146px;
    padding: 24px 20px 30px;
}

.l-messege {
    position: relative;
    bottom: 150px;
    background-color: #f4f4f4;
}

.l-wantedly {
    position: relative;
    overflow: hidden;
    padding: 35px 20px 14px 20px;
    width: 100%;
    height: 400px;
    &::before {
        @include p-bg("https://picsum.photos/335/371/?random");
        filter: brightness(.6);
        height: 400px;
    }
    .c-sectiontitel,
    .c-sectiontext {
        color: #fff;
    }
}

.l-entry {
    padding: 40px 20px;
    background-color: #f4f4f4;
}

.l-container {
    @include mq-up(md) {}
    @include mq-up(lg) {}
    @include mq-up(xl) {}
}

.l-footer {}
