/*****-------------------------------
    Layout
-------------------------------*****/

.l-header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    @include mq-up(md) {}
}

.l-loading {
    background: #fff;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1000000;
    overflow: hidden;
}

.l-keyviasual {
    position: relative;
}

.l-about {
    position: relative;
    padding: 50px 20px;
    background-color: #fff;
}

.l-container {
    @include mq-up(md) {}
    @include mq-up(lg) {}
    @include mq-up(xl) {}
}

.l-footer {}
