@charset "UTF-8";
/*****-------------------------------

    Foundation setting

-------------------------------*****/
/*****-------------------------------
    Eric Meyer’s “Reset CSS” 2.0
-------------------------------*****/
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500");
@import url("https://fonts.googleapis.com/css?family=Montserrat:600");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input,
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  border: 0;
  margin: 0;
  padding: 0;
  background: none transparent;
  vertical-align: middle;
  font-size: inherit;
  color: inherit;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  overflow: hidden; }

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

/*****-------------------------------
    Mediaquery initial setting
-------------------------------*****/
.pc-only {
  display: none; }
  @media screen and (min-width: 768px) {
    .pc-only {
      display: block; } }

@media screen and (min-width: 768px) {
  .sp-only {
    display: none; } }

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

/*****-------------------------------
    Common initial setting
-------------------------------*****/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
  font-weight: 500;
  overflow-x: hidden;
  font-size: 14px;
  color: #333; }
  @media screen and (min-width: 992px) {
    body {
      font-size: 16px; } }

video {
  display: block; }

input {
  display: none; }

label {
  display: block;
  cursor: pointer; }

/*****-------------------------------

    Utility setting

-------------------------------*****/
/*****-------------------------------
    JavaScript interactions
-------------------------------*****/
#is-open {
  display: none;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: #fff; }

/*****-------------------------------
    menu-bar01 is before
    menu-bar02 is .c-nav__toggle
    menu-bar03 is after
-------------------------------*****/
.open-anime.c-nav__toggle::before {
  -webkit-animation: menu-bar01 .75s forwards;
  animation: menu-bar01 .75s forwards; }

.open-anime.c-nav__toggle {
  -webkit-transition: all .25s .25s;
  transition: all .25s .25s;
  background-color: #fff; }

.open-anime.c-nav__toggle::after {
  -webkit-animation: menu-bar02 .75s forwards;
  animation: menu-bar02 .75s forwards; }

.close-anime.c-nav__toggle::before {
  -webkit-animation: active-menu-bar01 .75s forwards;
  animation: active-menu-bar01 .75s forwards;
  background-color: #000; }

.close-anime.c-nav__toggle {
  background-color: transparent; }

.close-anime.c-nav__toggle::after {
  opacity: 1;
  -webkit-animation: active-menu-bar03 .75s forwards;
  animation: active-menu-bar03 .75s forwards;
  background-color: #000; }

/*****-------------------------------
    Animations
-------------------------------*****/
/* --- loding --- */
@-webkit-keyframes text-in {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  25% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px); }
  50% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px); }
  100% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px); } }
@keyframes text-in {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  25% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px); }
  50% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px); }
  100% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px); } }

@-webkit-keyframes text-down {
  67% {
    top: 0;
    opacity: .8; }
  100% {
    top: 50px;
    opacity: 0; } }

@keyframes text-down {
  67% {
    top: 0;
    opacity: .8; }
  100% {
    top: 50px;
    opacity: 0; } }

/* --- nav open --- */
@-webkit-keyframes menu-bar01 {
  0% {
    -webkit-transform: translateY(10px) rotate(45deg); }
  50% {
    -webkit-transform: translateY(10px) rotate(0); }
  100% {
    -webkit-transform: translateY(0) rotate(0); } }

@keyframes menu-bar01 {
  0% {
    -webkit-transform: translateY(13px) rotate(45deg);
            transform: translateY(13px) rotate(45deg); }
  50% {
    -webkit-transform: translateY(13px) rotate(0);
            transform: translateY(13px) rotate(0); }
  100% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0); } }

@-webkit-keyframes menu-bar02 {
  0% {
    -webkit-transform: translateY(-13px) rotate(-45deg); }
  50% {
    -webkit-transform: translateY(-13px) rotate(0); }
  100% {
    -webkit-transform: translateY(0) rotate(0); } }

@keyframes menu-bar02 {
  0% {
    -webkit-transform: translateY(-13px) rotate(-45deg);
            transform: translateY(-13px) rotate(-45deg); }
  50% {
    -webkit-transform: translateY(-13px) rotate(0);
            transform: translateY(-13px) rotate(0); }
  100% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0); } }

/* --- nav close --- */
@-webkit-keyframes active-menu-bar01 {
  0% {
    -webkit-transform: translateY(0) rotate(0); }
  50% {
    -webkit-transform: translateY(13px) rotate(0); }
  100% {
    -webkit-transform: translateY(13px) rotate(45deg); } }

@keyframes active-menu-bar01 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0); }
  50% {
    -webkit-transform: translateY(13px) rotate(0);
            transform: translateY(13px) rotate(0); }
  100% {
    -webkit-transform: translateY(13px) rotate(45deg);
            transform: translateY(13px) rotate(45deg); } }

@-webkit-keyframes active-menu-bar03 {
  0% {
    -webkit-transform: translateY(0) rotate(0); }
  50% {
    -webkit-transform: translateY(-13px) rotate(0); }
  100% {
    -webkit-transform: translateY(-13px) rotate(-45deg); } }

@keyframes active-menu-bar03 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0); }
  50% {
    -webkit-transform: translateY(-13px) rotate(0);
            transform: translateY(-13px) rotate(0); }
  100% {
    -webkit-transform: translateY(-13px) rotate(-45deg);
            transform: translateY(-13px) rotate(-45deg); } }

/* --- show text --- */
@keyframes text {
  0% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
    opacity: 0; }
  80% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
    opacity: 0;
    text-shadow: 1px 1px 1px #fff; }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    text-shadow: none; } }

@-webkit-keyframes text {
  0% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
    opacity: 0; }
  80% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
    opacity: 0;
    text-shadow: 1px 1px 1px #fff; }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    text-shadow: none; } }

/* --- scroll down --- */
@keyframes arrow-down {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0; } }

@-webkit-keyframes arrow-down {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0; } }

/*****-------------------------------
    Utility
-------------------------------*****/
.qa {
  letter-spacing: 15px; }

/*****-------------------------------

    Layout setting

-------------------------------*****/
/*****-------------------------------
    Layout
-------------------------------*****/
.l-header {
  position: fixed;
  z-index: 1000;
  width: 100%; }

.l-loading {
  background: #fff;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 100;
  overflow: hidden; }

.l-keyviasual {
  position: relative; }

.l-about {
  position: relative;
  z-index: 1000;
  padding: 50px 20px 0 20px;
  background-color: #fff; }

.l-contents {
  position: relative;
  padding: 50px 20px 40px 20px;
  background-color: rgba(26, 161, 230, 0.2); }

.l-contents::after {
  display: block;
  position: absolute;
  top: -85px;
  left: -50px;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  width: 120%;
  height: 200px;
  background-color: #fff;
  content: ""; }

.l-schedule {
  position: relative;
  width: 100%;
  background-color: #f4f4f4; }

.l-member,
.l-ambassador {
  position: relative;
  bottom: 150px;
  padding: 50px 0 20px;
  overflow: hidden;
  background-color: #fff; }

.l-qa {
  position: relative;
  bottom: 153px;
  padding: 24px 20px 30px;
  background-color: #f4f4f4; }

.l-partner {
  position: relative;
  bottom: 146px;
  padding: 24px 20px 30px; }

.l-messege {
  position: relative;
  bottom: 150px;
  background-color: #f4f4f4; }

.l-wantedly {
  position: relative;
  overflow: hidden;
  padding: 35px 20px 14px 20px;
  width: 100%;
  height: 400px; }
  .l-wantedly::before {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 371px;
    background-image: url("https://picsum.photos/335/371/?random");
    background-size: cover;
    background-position: center;
    -webkit-filter: blur(4px);
            filter: blur(4px);
    content: "";
    -webkit-filter: brightness(0.6);
            filter: brightness(0.6);
    height: 400px; }
  .l-wantedly .c-sectiontitel,
  .l-wantedly .c-sectiontext {
    color: #fff; }

/*****-------------------------------

    Component setting

-------------------------------*****/
.c-nav {
  position: relative; }

.c-nav__logo {
  position: absolute;
  width: 120px;
  margin-top: 42px;
  margin-left: 25px; }

.c-nav__toggle {
  position: absolute;
  top: 50px;
  right: 30px;
  z-index: 2000;
  width: 35px;
  height: 3px;
  background-color: #fff;
  color: transparent; }
  .c-nav__toggle::before, .c-nav__toggle::after {
    position: absolute;
    right: 0px;
    display: block;
    width: 35px;
    height: 3.5px;
    background-color: #fff;
    content: ""; }
  .c-nav__toggle::before {
    bottom: 13px; }
  .c-nav__toggle::after {
    top: 13px; }

.menu__tag {
  position: absolute;
  bottom: -5px;
  right: 45px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 3px; }

.menu__button {
  position: absolute;
  top: -20px;
  right: 0;
  display: block;
  width: 90px;
  height: 44px; }

.c-sectiontitel {
  position: relative;
  z-index: 100;
  margin-bottom: 8px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #393939;
  font-size: 50px;
  text-align: center;
  letter-spacing: 1px; }

.c-sectiontext {
  position: relative;
  z-index: 100;
  margin-bottom: 30px;
  color: #6f6f6f;
  font-weight: bold;
  text-align: center;
  letter-spacing: .5px; }

.c-sectiontitel--sub {
  margin-bottom: 8px;
  color: #6f6f6f;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  font-family: 'Montserrat', sans-serif; }

.c-card {
  position: relative; }

.c-bach {
  display: inline-block;
  position: absolute;
  z-index: 10;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1.5px;
  background-color: #1aa1e6; }

.c-card__media {
  width: 100%;
  max-width: 335px;
  max-height: 215px;
  -webkit-filter: brightness(0.6);
          filter: brightness(0.6); }

.c-card__body {
  width: 100%;
  max-width: 335px;
  background-color: #fff; }

.c-card__body--copy {
  position: absolute;
  top: -95px;
  left: 24px;
  z-index: 500;
  color: #fff;
  font-weight: bold;
  font-size: 17px; }
  .c-card__body--copy span {
    display: inline-block;
    margin-bottom: 8px;
    padding-bottom: 4px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(90%, transparent), color-stop(90%, #ffff99));
    background: linear-gradient(transparent 90%, #ffff99 90%); }

.c-card__text {
  padding: 16px 20px;
  line-height: 1.3; }

.c-slider {
  position: relative;
  z-index: 200;
  width: 100%;
  max-width: 220px;
  margin: 0 auto; }

.c-slider__slides {
  position: relative; }

.slides__inner {
  width: 500%; }

.slides__inner::after {
  display: block;
  height: 0;
  clear: both;
  content: ""; }

.slides--sp {
  width: 20%;
  float: left; }

.overflow {
  overflow: hidden; }

.c-slider input {
  display: none; }

.c-slider__controls {
  position: absolute;
  top: 120px;
  left: 0;
  width: 100%;
  height: 50px; }

.c-slider__controls label {
  display: none;
  opacity: 0.3;
  cursor: pointer; }

#slide-1:checked ~ .c-slider__controls label:nth-child(2),
#slide-2:checked ~ .c-slider__controls label:nth-child(3),
#slide-3:checked ~ .c-slider__controls label:nth-child(4),
#slide-4:checked ~ .c-slider__controls label:nth-child(5),
#slide-5:checked ~ .c-slider__controls label:nth-child(1),
#slide1-1:checked ~ .c-slider__controls label:nth-child(2),
#slide1-2:checked ~ .c-slider__controls label:nth-child(3),
#slide1-3:checked ~ .c-slider__controls label:nth-child(4),
#slide1-4:checked ~ .c-slider__controls label:nth-child(5),
#slide1-5:checked ~ .c-slider__controls label:nth-child(1),
#slide2-1:checked ~ .c-slider__controls label:nth-child(2),
#slide2-2:checked ~ .c-slider__controls label:nth-child(3),
#slide2-3:checked ~ .c-slider__controls label:nth-child(4),
#slide2-4:checked ~ .c-slider__controls label:nth-child(5),
#slide2-5:checked ~ .c-slider__controls label:nth-child(1),
#slide3-1:checked ~ .c-slider__controls label:nth-child(2),
#slide3-2:checked ~ .c-slider__controls label:nth-child(3),
#slide3-3:checked ~ .c-slider__controls label:nth-child(4),
#slide3-4:checked ~ .c-slider__controls label:nth-child(5),
#slide3-5:checked ~ .c-slider__controls label:nth-child(1) {
  display: block;
  width: 28px;
  height: 28px;
  margin-right: -40px;
  background-image: url(../../../images/right.svg);
  background-position: center;
  background-repeat: no-repeat;
  float: right; }

#slide-1:checked ~ .c-slider__controls label:nth-child(5),
#slide-2:checked ~ .c-slider__controls label:nth-child(1),
#slide-3:checked ~ .c-slider__controls label:nth-child(2),
#slide-4:checked ~ .c-slider__controls label:nth-child(3),
#slide-5:checked ~ .c-slider__controls label:nth-child(4),
#slide1-1:checked ~ .c-slider__controls label:nth-child(5),
#slide1-2:checked ~ .c-slider__controls label:nth-child(1),
#slide1-3:checked ~ .c-slider__controls label:nth-child(2),
#slide1-4:checked ~ .c-slider__controls label:nth-child(3),
#slide1-5:checked ~ .c-slider__controls label:nth-child(4),
#slide2-1:checked ~ .c-slider__controls label:nth-child(5),
#slide2-2:checked ~ .c-slider__controls label:nth-child(1),
#slide2-3:checked ~ .c-slider__controls label:nth-child(2),
#slide2-4:checked ~ .c-slider__controls label:nth-child(3),
#slide2-5:checked ~ .c-slider__controls label:nth-child(4),
#slide3-1:checked ~ .c-slider__controls label:nth-child(5),
#slide3-2:checked ~ .c-slider__controls label:nth-child(1),
#slide3-3:checked ~ .c-slider__controls label:nth-child(2),
#slide3-4:checked ~ .c-slider__controls label:nth-child(3),
#slide3-5:checked ~ .c-slider__controls label:nth-child(4) {
  display: block;
  width: 28px;
  height: 28px;
  float: left;
  margin-left: -40px;
  background-image: url(../../../images/left.svg);
  background-position: center;
  background-repeat: no-repeat; }

#slide-1:checked ~ .c-slider__slides .slides__inner,
#slide1-1:checked ~ .c-slider__slides .slides__inner,
#slide2-1:checked ~ .c-slider__slides .slides__inner,
#slide3-1:checked ~ .c-slider__slides .slides__inner {
  margin-left: 0; }

#slide-2:checked ~ .c-slider__slides .slides__inner,
#slide1-2:checked ~ .c-slider__slides .slides__inner,
#slide2-2:checked ~ .c-slider__slides .slides__inner,
#slide3-2:checked ~ .c-slider__slides .slides__inner {
  margin-left: -100%; }

#slide-3:checked ~ .c-slider__slides .slides__inner,
#slide1-3:checked ~ .c-slider__slides .slides__inner,
#slide2-3:checked ~ .c-slider__slides .slides__inner,
#slide3-3:checked ~ .c-slider__slides .slides__inner {
  margin-left: -200%; }

#slide-4:checked ~ .c-slider__slides .slides__inner,
#slide1-4:checked ~ .c-slider__slides .slides__inner,
#slide2-4:checked ~ .c-slider__slides .slides__inner,
#slide3-4:checked ~ .c-slider__slides .slides__inner {
  margin-left: -300%; }

#slide-5:checked ~ .c-slider__slides .slides__inner,
#slide1-5:checked ~ .c-slider__slides .slides__inner,
#slide2-5:checked ~ .c-slider__slides .slides__inner,
#slide3-5:checked ~ .c-slider__slides .slides__inner {
  margin-left: -400%; }

.c-slider__slides .slides__inner {
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out; }

/*****-------------------------------

    Project common setting

-------------------------------*****/
/*****-------------------------------
    Common Style
-------------------------------*****/
.p-bg--blur {
  position: relative;
  overflow: hidden;
  padding: 50px 20px 0 20px;
  width: 100%;
  height: 371px; }
  .p-bg--blur::before {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 371px;
    background-image: url("https://picsum.photos/335/371/?random");
    background-size: cover;
    background-position: center;
    -webkit-filter: blur(4px);
            filter: blur(4px);
    content: ""; }
  .p-bg--blur .c-sectiontitel,
  .p-bg--blur .c-sectiontext {
    color: #fff; }

.p-slideconter::before,
.p-slideconter::after {
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  content: ""; }

.p-slideconter::before {
  bottom: 367px;
  left: 0;
  z-index: 101;
  height: 60px;
  overflow: hidden;
  background-color: #fff; }

.p-slideconter::after {
  bottom: 0;
  z-index: 100;
  height: 371px;
  background-image: url(https://picsum.photos/500/140/?random);
  background-size: cover;
  background-position: center;
  -webkit-filter: blur(4px);
          filter: blur(4px); }

.p-slides__media {
  width: 100%;
  max-width: 220px;
  height: 138px; }

.p-slides__body {
  position: relative;
  left: 0;
  right: 0;
  bottom: 35px;
  width: 200px;
  margin: auto;
  padding: 18px 20px;
  text-align: left;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 9px rgba(11, 11, 2, 0.13);
          box-shadow: 0px 0px 9px rgba(11, 11, 2, 0.13); }

.p-slides__body--title {
  margin-bottom: 6px;
  font-size: 10px;
  font-weight: bold; }

.p-slides__body--name {
  padding-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 8px;
  font-weight: bold;
  border-bottom: 1px solid #333; }
  .p-slides__body--name span {
    display: block;
    margin-bottom: 6px;
    font-size: 12px; }

.p-slides__body--text {
  padding-top: 8px;
  line-height: 1.3; }

.p-bach--circle {
  background-color: rgba(0, 0, 0, 0.4); }

.p-loading {
  display: block;
  position: absolute;
  margin: auto;
  color: #000;
  -webkit-animation: text-down 6.3s;
          animation: text-down 6.3s; }

.p-loading::before {
  position: absolute;
  display: block;
  width: 500px;
  height: 50px;
  background-color: #fff;
  content: "";
  -webkit-animation: text-in 5s ease-in-out .6s;
          animation: text-in 5s ease-in-out .6s; }

.p-keyviasual {
  display: block;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3); }

.p-keyviasual__bg {
  position: relative;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000; }

.p-keyviasual__text {
  position: absolute;
  left: 0;
  bottom: 180px;
  right: 0;
  margin: auto;
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 2;
  -webkit-animation: text 7s;
  animation: text 7s; }

.p-keyviasual__scroll {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: auto;
  text-align: center; }

.p-keyviasual__scroll__text {
  margin-bottom: 5px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  text-align: center;
  font-size: 9px;
  letter-spacing: 3px; }

.p-keyviasual__scroll__arrow {
  width: 20px;
  fill: #fff;
  text-align: center;
  -webkit-animation: arrow-down 1.35s ease 2s infinite;
  animation: arrow-down 1.35s ease 2s infinite; }

.p-about__viasual {
  display: block;
  position: relative;
  z-index: 2; }

.p-about__body::before {
  display: block;
  position: absolute;
  top: 158px;
  right: 20px;
  width: 324px;
  height: 200px;
  background-color: #1aa1e6;
  content: ""; }

.p-about__body {
  padding: 25px 0; }

.p-about__body__copy {
  text-align: center; }
  .p-about__body__copy span {
    display: inline-block;
    padding: 0 23px;
    margin-bottom: 18px;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    line-height: 2.5;
    background-color: #1aa1e6; }

.p-about__body__text {
  line-height: 1.8; }

.p-contents__cards {
  position: relative;
  margin-bottom: 20px; }
  .p-contents__cards .c-card {
    margin-bottom: 20px; }
  .p-contents__cards .c-bach {
    top: 0;
    right: 0;
    width: 68px;
    height: 12px;
    font-size: 6px;
    line-height: 2; }
  .p-contents__cards .c-card__media {
    -webkit-filter: brightness(0.6);
            filter: brightness(0.6); }
  .p-contents__cards .c-card__body {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto; }

.p-schedule__cards {
  position: relative;
  top: -200px;
  padding: 0 20px; }
  .p-schedule__cards .c-card {
    margin-bottom: 30px; }
  .p-schedule__cards .c-bach {
    left: 0;
    right: 0;
    margin: 15px auto;
    width: 45px;
    height: 15px;
    font-size: 9px;
    line-height: 1.8; }
  .p-schedule__cards .c-card__media {
    height: 140px; }
  .p-schedule__cards .c-card__body {
    position: relative;
    top: -2px; }

.c-card__title {
  padding-top: 40px;
  margin-bottom: 20px;
  font-size: 19px;
  text-align: center; }

.contains {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  height: 0;
  overflow: hidden;
  background: #fff; }

input:checked ~ .contains {
  height: auto; }

.c-card__arrow {
  display: inline-block;
  position: absolute;
  right: 0;
  left: 0;
  width: 40px;
  padding: 0 13px;
  margin: auto;
  background-color: #fff; }

.c-card__arrow::after {
  display: block;
  width: 14px;
  height: 20px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDEwMDAgMTAwMCI+PGcgZmlsbD0iIzAwMCI+PHBhdGggZD0iTTg4Ny4yLDIwOS4yTDQ5OS43LDU4OS4xTDExMi44LDIwOS43TDEwLDMxMC41bDQ4OS43LDQ4MC4zTDk5MCwzMTBMODg3LjIsMjA5LjJ6Ii8+PC9nPg0KPC9zdmc+DQo=");
  background-position: center;
  background-repeat: no-repeat;
  content: ""; }

input:checked ~ .c-card__arrow::after {
  display: block;
  width: 14px;
  height: 20px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA5ODAgNTgxLjYiPjxnIGZpbGw9IiMwMDAiPjxwYXRoIGQ9Ik0xMDIuOCw1ODEuNiw0OTAuMywyMDEuNyw4NzcuMiw1ODEuMSw5ODAsNDgwLjMsNDkwLjMsMCwwLDQ4MC44WiIvPjwvZz48L3N2Zz4NCg==");
  background-position: center;
  background-repeat: no-repeat;
  content: ""; }

.p-tab__content {
  display: none; }

.p-tab__head {
  display: inline-block;
  padding: 10px 5px;
  margin-left: 20px;
  margin-bottom: 30px;
  text-align: center; }

input:checked + .p-tab__head {
  border-bottom: 1px solid #1aa1e6;
  font-weight: bold; }

#tab1:checked ~ .is-tabopen1,
#tab2:checked ~ .is-tabopen2,
#tab3:checked ~ .is-tabopen3 {
  display: block; }

.p-tab {
  text-align: center; }

.c-accordion {
  margin-bottom: 10px; }

.p-qa {
  width: 100%;
  padding: 0 20px; }

.p-qa__container {
  position: relative;
  z-index: 1000;
  display: block;
  width: 300px;
  margin: auto; }

.p-qa__container--q {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 40px;
  padding: 14px 50px 14px 16px;
  cursor: pointer;
  background-color: #fff; }
  .p-qa__container--q span {
    margin-right: 13px; }

.p-qa__container--q::after {
  display: block;
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
  width: 20px;
  height: 20px;
  margin: auto;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDEwMDAgMTAwMCI+PGcgZmlsbD0iIzZmNmY2ZiI+PHBhdGggZD0iTTg4Ny4yLDIwOS4yTDQ5OS43LDU4OS4xTDExMi44LDIwOS43TDEwLDMxMC41bDQ4OS43LDQ4MC4zTDk5MCwzMTBMODg3LjIsMjA5LjJ6Ii8+PC9nPg0KPC9zdmc+DQo=");
  background-position: center;
  background-repeat: no-repeat;
  content: ""; }

input:checked + .p-qa__container--q::after {
  display: block;
  position: absolute;
  right: 15px;
  bottom: 0;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA5ODAgNTgxLjYiPjxnIGZpbGw9IiM2ZjZmNmYiPjxwYXRoIGQ9Ik0xMDIuOCw1ODEuNiw0OTAuMywyMDEuNyw4NzcuMiw1ODEuMSw5ODAsNDgwLjMsNDkwLjMsMCwwLDQ4MC44WiIvPjwvZz48L3N2Zz4NCg==");
  background-position: center;
  background-repeat: no-repeat;
  content: ""; }

.p-qa__container--a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 0;
  overflow: hidden;
  padding: 0px 50px 0px 16px;
  color: #1aa1e6;
  font-weight: bold;
  line-height: 1.4;
  background-color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .p-qa__container--a p {
    margin-left: 14px; }

input:checked ~ .p-qa__container--a {
  width: 100%;
  height: auto;
  padding: 14px 50px 14px 16px;
  margin: auto; }

.l-partner {
  position: relative;
  text-align: center; }
  .l-partner img {
    width: 100%;
    margin: auto; }

.p-messege {
  position: relative;
  right: 0;
  left: 0;
  bottom: 100px;
  width: 330px;
  padding: 35px 25px;
  margin: auto;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 9px rgba(11, 11, 2, 0.13);
          box-shadow: 0px 0px 9px rgba(11, 11, 2, 0.13); }

.p-messege--title {
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: bold;
  text-align: center; }

.p-messege--title::after {
  display: block;
  width: 50px;
  height: 1.5px;
  margin: 15px auto 0;
  background-color: #1aa1e6;
  content: ""; }

.p-messege--text {
  font-size: 12px;
  line-height: 1.6; }

.p-wantedly__inner {
  position: relative;
  padding: 0 20px;
  color: #fff;
  text-align: center;
  font-weight: bold; }
  .p-wantedly__inner p {
    margin-bottom: 22px; }

.p-bach--circle {
  display: inline-block;
  width: 100%;
  height: 30px;
  margin-bottom: 8px;
  border-radius: 15px;
  font-size: 12px;
  text-align: center;
  line-height: 2.5;
  background-color: rgba(0, 0, 0, 0.6); }
