@charset "UTF-8";
/*****-------------------------------

    Foundation setting

-------------------------------*****/
/*****-------------------------------
    Eric Meyer’s “Reset CSS” 2.0
-------------------------------*****/
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500");
@import url("https://fonts.googleapis.com/css?family=Montserrat:600");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input,
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  border: 0;
  margin: 0;
  padding: 0;
  background: none transparent;
  vertical-align: middle;
  font-size: inherit;
  color: inherit;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  overflow: hidden; }

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

/*****-------------------------------
    Mediaquery initial setting
-------------------------------*****/
.pc-only {
  display: none; }
  @media screen and (min-width: 768px) {
    .pc-only {
      display: block; } }

@media screen and (min-width: 768px) {
  .sp-only {
    display: none; } }

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

/*****-------------------------------
    Common initial setting
-------------------------------*****/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
  font-weight: 500;
  overflow-x: hidden;
  font-size: 14px;
  color: #333; }
  @media screen and (min-width: 1090px) {
    body {
      font-size: 16px; } }

main {
  display: block;
  overflow: hidden; }

a {
  text-decoration: none; }

video {
  display: block; }

input {
  display: none; }

label {
  display: block;
  cursor: pointer; }

/*****-------------------------------

    Utility setting

-------------------------------*****/
/*****-------------------------------
    JavaScript interactions
-------------------------------*****/
@media screen and (max-width: 1090px) {
  #is-open {
    display: none;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9); } }

.hradder-scrolled {
  background-color: #fff;
  -webkit-transition: .3s;
  transition: .3s; }
  .hradder-scrolled .logo .cls-1 {
    fill: #000; }
  .hradder-scrolled .menu__link {
    color: #000 !important; }
  @media screen and (min-width: 1090px) {
    .hradder-scrolled .c-nav {
      padding-top: 0; } }

/*****-------------------------------
    menu-bar01 is before
    menu-bar02 is .c-nav__toggle
    menu-bar03 is after
-------------------------------*****/
.open-anime.c-nav__toggle::before {
  -webkit-animation: menu-bar01 .75s forwards;
          animation: menu-bar01 .75s forwards; }

.open-anime.c-nav__toggle {
  -webkit-transition: all .25s .25s;
  transition: all .25s .25s;
  background-color: #fff; }

.open-anime.c-nav__toggle::after {
  -webkit-animation: menu-bar02 .75s forwards;
          animation: menu-bar02 .75s forwards; }

.close-anime.c-nav__toggle::before {
  -webkit-animation: active-menu-bar01 .75s forwards;
          animation: active-menu-bar01 .75s forwards;
  background-color: #000; }

.close-anime.c-nav__toggle {
  background-color: transparent; }

.close-anime.c-nav__toggle::after {
  opacity: 1;
  -webkit-animation: active-menu-bar03 .75s forwards;
          animation: active-menu-bar03 .75s forwards;
  background-color: #000; }

/*****-------------------------------
    Animations (keyframes)
-------------------------------*****/
/* --- loding --- */
@-webkit-keyframes text-in {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  20% {
    -webkit-transform: translateX(120px);
            transform: translateX(120px); }
  50% {
    -webkit-transform: translateX(450px);
            transform: translateX(450px); }
  100% {
    -webkit-transform: translateX(450px);
            transform: translateX(450px); } }
@keyframes text-in {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  20% {
    -webkit-transform: translateX(120px);
            transform: translateX(120px); }
  50% {
    -webkit-transform: translateX(450px);
            transform: translateX(450px); }
  100% {
    -webkit-transform: translateX(450px);
            transform: translateX(450px); } }

@-webkit-keyframes text-in-lg {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  20% {
    -webkit-transform: translateX(170px);
            transform: translateX(170px); }
  50% {
    -webkit-transform: translateX(600px);
            transform: translateX(600px); }
  100% {
    -webkit-transform: translateX(600px);
            transform: translateX(600px); } }

@keyframes text-in-lg {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  20% {
    -webkit-transform: translateX(170px);
            transform: translateX(170px); }
  50% {
    -webkit-transform: translateX(600px);
            transform: translateX(600px); }
  100% {
    -webkit-transform: translateX(600px);
            transform: translateX(600px); } }

@-webkit-keyframes text-down {
  67% {
    top: 0;
    opacity: .8; }
  100% {
    top: 50px;
    opacity: 0; } }

@keyframes text-down {
  67% {
    top: 0;
    opacity: .8; }
  100% {
    top: 50px;
    opacity: 0; } }

/* --- nav open --- */
@-webkit-keyframes menu-bar01 {
  0% {
    -webkit-transform: translateY(7px) rotate(45deg);
            transform: translateY(7px) rotate(45deg); }
  50% {
    -webkit-transform: translateY(7px) rotate(0);
            transform: translateY(7px) rotate(0); }
  100% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0); } }
@keyframes menu-bar01 {
  0% {
    -webkit-transform: translateY(7px) rotate(45deg);
            transform: translateY(7px) rotate(45deg); }
  50% {
    -webkit-transform: translateY(7px) rotate(0);
            transform: translateY(7px) rotate(0); }
  100% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0); } }

@-webkit-keyframes menu-bar02 {
  0% {
    -webkit-transform: translateY(-7px) rotate(-45deg);
            transform: translateY(-7px) rotate(-45deg); }
  50% {
    -webkit-transform: translateY(-7px) rotate(0);
            transform: translateY(-7px) rotate(0); }
  100% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0); } }

@keyframes menu-bar02 {
  0% {
    -webkit-transform: translateY(-7px) rotate(-45deg);
            transform: translateY(-7px) rotate(-45deg); }
  50% {
    -webkit-transform: translateY(-7px) rotate(0);
            transform: translateY(-7px) rotate(0); }
  100% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0); } }

/* --- nav close --- */
@-webkit-keyframes active-menu-bar01 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0); }
  50% {
    -webkit-transform: translateY(7px) rotate(0);
            transform: translateY(7px) rotate(0); }
  100% {
    -webkit-transform: translateY(7px) rotate(45deg);
            transform: translateY(7px) rotate(45deg); } }
@keyframes active-menu-bar01 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0); }
  50% {
    -webkit-transform: translateY(7px) rotate(0);
            transform: translateY(7px) rotate(0); }
  100% {
    -webkit-transform: translateY(7px) rotate(45deg);
            transform: translateY(7px) rotate(45deg); } }

@-webkit-keyframes active-menu-bar03 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0); }
  50% {
    -webkit-transform: translateY(-7px) rotate(0);
            transform: translateY(-7px) rotate(0); }
  100% {
    -webkit-transform: translateY(-7px) rotate(-45deg);
            transform: translateY(-7px) rotate(-45deg); } }

@keyframes active-menu-bar03 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0); }
  50% {
    -webkit-transform: translateY(-7px) rotate(0);
            transform: translateY(-7px) rotate(0); }
  100% {
    -webkit-transform: translateY(-7px) rotate(-45deg);
            transform: translateY(-7px) rotate(-45deg); } }

/* --- show text --- */
@-webkit-keyframes text {
  0% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
    opacity: 0; }
  80% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
    opacity: 0;
    text-shadow: 1px 1px 1px #fff; }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    text-shadow: none; } }
@keyframes text {
  0% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
    opacity: 0; }
  80% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
    opacity: 0;
    text-shadow: 1px 1px 1px #fff; }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    text-shadow: none; } }

/* --- scroll down --- */
@-webkit-keyframes arrow-down {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0; } }
@keyframes arrow-down {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0; } }

/*****-------------------------------
    Utility
-------------------------------*****/
.qa {
  font-size: 60px;
  letter-spacing: 13px !important; }

/*****-------------------------------

    Layout setting

-------------------------------*****/
/*****-------------------------------
    Layout
-------------------------------*****/
.l-header {
  position: fixed;
  z-index: 100000;
  width: 100%; }

.l-loading {
  background: #fff;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 100000000;
  overflow: hidden; }

.l-keyviasual {
  position: relative; }

.l-about {
  position: relative;
  z-index: 1000;
  max-width: 380px;
  padding: 40px 20px 0 20px;
  margin: auto;
  background-color: #fff; }
  @media screen and (min-width: 1090px) {
    .l-about {
      width: 100%;
      max-width: 1090px;
      margin: 0 auto 48px;
      padding: 80px 0 0; } }

.l-contents {
  position: relative;
  padding: 55px 20px 20px;
  background-color: rgba(26, 161, 230, 0.25); }

.l-contents::after {
  display: block;
  position: absolute;
  top: -85px;
  left: -50px;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  width: 120%;
  height: 200px;
  background-color: #fff;
  content: ""; }
  @media screen and (min-width: 1090px) {
    .l-contents::after {
      top: -120px;
      height: 370px; } }

.l-schedule {
  position: relative;
  width: 100%;
  background-color: #f4f4f4; }
  .l-schedule .p-bg--blur::before {
    display: block;
    position: absolute;
    top: -4px;
    right: 0;
    left: 0;
    width: 100%;
    height: 310px;
    background-image: url("../../../images/schedule-bg.png");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    -webkit-filter: blur(4px) brightness(80%);
            filter: blur(4px) brightness(80%);
    content: ""; }
    @media screen and (min-width: 1090px) {
      .l-schedule .p-bg--blur::before {
        height: 410px; } }

.l-member,
.l-ambassador {
  position: relative;
  padding: 50px 0 20px;
  overflow: hidden;
  background-color: #fff; }

.l-member .p-slideconter::after {
  background-image: url(../../../images/member-bg.png); }

.l-ambassador .p-slideconter::after {
  background-image: url(../../../images/ambassador-bg.png); }

.l-qa {
  position: relative;
  width: 100%;
  padding: 40px 40px 30px;
  margin: auto;
  background-color: #f4f4f4; }
  @media screen and (min-width: 1090px) {
    .l-qa {
      padding-top: 80px; } }

.l-partner {
  position: relative;
  padding: 55px 0 80px; }

.l-messege {
  position: relative;
  margin-bottom: 70px;
  background-color: #f4f4f4; }
  .l-messege .p-bg--blur {
    height: 310px;
    padding-top: 100px; }
    @media screen and (min-width: 1090px) {
      .l-messege .p-bg--blur {
        height: 600px;
        padding-top: 130px; } }
  .l-messege .p-bg--blur::before {
    display: block;
    position: absolute;
    top: -4px;
    right: 0;
    left: 0;
    width: 100%;
    height: 310px;
    background-image: url("../../../images/messege-bg.png");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    -webkit-filter: blur(4px) brightness(80%);
            filter: blur(4px) brightness(80%);
    content: "";
    -webkit-filter: brightness(80%);
            filter: brightness(80%); }
    @media screen and (min-width: 1090px) {
      .l-messege .p-bg--blur::before {
        height: 410px; } }
    @media screen and (min-width: 1090px) {
      .l-messege .p-bg--blur::before {
        height: 600px; } }

.l-wantedly {
  position: relative;
  overflow: hidden;
  padding: 35px 20px 14px 40px;
  width: 100%; }
  .l-wantedly::before {
    display: block;
    position: absolute;
    top: -4px;
    right: 0;
    left: 0;
    width: 100%;
    height: 310px;
    background-image: url("../../images/wantedly-bg.png");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    -webkit-filter: blur(4px) brightness(80%);
            filter: blur(4px) brightness(80%);
    content: "";
    height: 510px !important;
    -webkit-filter: brightness(0.6);
            filter: brightness(0.6); }
    @media screen and (min-width: 1090px) {
      .l-wantedly::before {
        height: 410px; } }
  @media screen and (min-width: 1090px) {
    .l-wantedly {
      height: 510px; } }
  .l-wantedly .c-sectiontitel,
  .l-wantedly .c-sectiontext {
    color: #fff; }

.l-entry {
  position: relative;
  padding: 70px 20px;
  background-color: #f4f4f4; }

.l-footer {
  position: relative;
  width: 100%;
  background-color: #fff;
  text-align: center; }

/*****-------------------------------

    Component setting

-------------------------------*****/
.c-nav {
  position: relative; }
  @media screen and (min-width: 1090px) {
    .c-nav {
      width: 1090px;
      margin: auto;
      padding-top: 20px; } }

.c-nav__logo {
  position: absolute;
  width: 100px;
  margin-top: 24px;
  margin-left: 20px; }
  @media screen and (min-width: 1090px) {
    .c-nav__logo {
      width: 180px; } }

.c-nav__toggle {
  position: absolute;
  top: 30px;
  right: 20px;
  z-index: 2000;
  width: 20px;
  height: 2px;
  background-color: #fff;
  color: transparent; }
  .c-nav__toggle::before, .c-nav__toggle::after {
    position: absolute;
    right: 0px;
    display: block;
    width: 20px;
    height: 2px;
    background-color: #fff;
    content: ""; }
  .c-nav__toggle::before {
    bottom: 7px; }
  .c-nav__toggle::after {
    top: 7px; }
  @media screen and (min-width: 1090px) {
    .c-nav__toggle {
      display: none; } }

.menu__tag {
  position: absolute;
  bottom: -4px;
  right: 32px;
  color: #fff;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.5px; }

.menu__button {
  position: absolute;
  top: -20px;
  right: 0;
  display: block;
  width: 90px;
  height: 44px; }

.c-menu {
  position: relative;
  width: 100%;
  padding: 20px;
  font-family: "Montserrat", sans-serif; }

.c-menu__body {
  display: block;
  width: 230px;
  margin: auto;
  padding: 100px 0; }
  @media screen and (min-width: 1090px) {
    .c-menu__body {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 665px;
      padding: 0;
      margin: auto 0 auto auto;
      text-align: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .c-menu__body li:not(:last-child) .menu__link {
        color: #fff; } }

.menu__link {
  display: block;
  width: 100%;
  margin-bottom: 60px;
  color: #000;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: normal; }
  .menu__link span {
    display: block;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px; }
  @media screen and (min-width: 1090px) {
    .menu__link {
      margin-bottom: 0;
      font-size: 11px; }
      .menu__link span {
        font-size: 13px; } }

.menu__entry {
  display: block;
  position: relative;
  width: 225px;
  height: 45px;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  line-height: 2.3;
  background: #ffff00; }
  .menu__entry:hover {
    opacity: .3; }
  @media screen and (min-width: 1090px) {
    .menu__entry {
      width: 160px;
      height: 40px;
      font-size: 15px;
      line-height: 2.5; } }

.menu__entry::after {
  display: block;
  position: absolute;
  right: 28px;
  bottom: 14px;
  width: 10px;
  height: 10px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDEwMDAgMTAwMCI+PGcgZmlsbD0iIzAwMCI+PHBhdGggZD0iTTg4Ny4yLDIwOS4yTDQ5OS43LDU4OS4xTDExMi44LDIwOS43TDEwLDMxMC41bDQ4OS43LDQ4MC4zTDk5MCwzMTBMODg3LjIsMjA5LjJ6Ii8+PC9nPg0KPC9zdmc+DQo=);
  content: ""; }

.c-sectiontitel {
  position: relative;
  z-index: 300;
  width: 100%;
  max-width: 1090px;
  margin: 0 auto 6px;
  padding: 0 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #393939;
  font-size: 50px;
  text-align: center;
  letter-spacing: 1px; }
  @media screen and (min-width: 1090px) {
    .c-sectiontitel {
      margin-bottom: 0;
      font-size: 120px;
      font-weight: 500;
      letter-spacing: -3px; } }
  .c-sectiontitel + .c-sectiontext {
    margin-bottom: 30px;
    font-weight: bold;
    letter-spacing: 1px; }
    @media screen and (min-width: 1090px) {
      .c-sectiontitel + .c-sectiontext {
        margin-bottom: 45px; } }

h3.c-sectiontitel {
  position: relative;
  z-index: 300;
  width: 100%;
  max-width: 1090px;
  margin: 0 auto 8px;
  padding: 0 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #393939;
  font-size: 48px;
  text-align: center;
  letter-spacing: 1px; }
  @media screen and (min-width: 1090px) {
    h3.c-sectiontitel {
      margin-bottom: 14px;
      font-size: 90px;
      font-weight: 500;
      letter-spacing: 0px; } }

.c-sectiontext {
  position: relative;
  z-index: 300;
  max-width: 1090px;
  margin: 0 auto 8px;
  font-size: 11px;
  color: #6f6f6f;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  text-align: center;
  letter-spacing: .5px; }
  @media screen and (min-width: 1090px) {
    .c-sectiontext {
      font-size: 16px;
      font-weight: normal; } }

.c-sectiontitel--sub {
  margin-bottom: 8px;
  color: #6f6f6f;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.5px; }
  @media screen and (min-width: 1090px) {
    .c-sectiontitel--sub {
      margin: 10px auto 20px;
      font-size: 55px;
      font-weight: bold; } }
  @media screen and (min-width: 1090px) {
    .c-sectiontitel--sub + .c-sectiontext {
      margin-bottom: 75px;
      font-weight: bold; } }

.c-card {
  position: relative;
  z-index: 100;
  max-width: 330px; }
  @media screen and (min-width: 1090px) {
    .c-card {
      width: auto; } }

.c-bach {
  display: inline-block;
  position: absolute;
  z-index: 10;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1.5px;
  background-color: #1aa1e6; }

.c-card__media {
  width: 100%;
  max-width: 330px; }
  @media screen and (min-width: 1090px) {
    .c-card__media {
      max-width: auto;
      max-height: 290px; } }

.c-card__body {
  width: 100%;
  max-width: 330px;
  background-color: #fff; }
  @media screen and (min-width: 1090px) {
    .c-card__body {
      max-height: 290px; } }

.c-card__body--copy {
  position: absolute;
  top: -100px;
  left: 20px;
  z-index: 500;
  color: #fff;
  font-weight: bold;
  font-size: 20px; }
  .c-card__body--copy span {
    display: inline-block;
    margin-bottom: 8px;
    padding-bfottom: 4px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(90%, transparent), color-stop(90%, #ffff99));
    background: linear-gradient(transparent 90%, #ffff99 90%); }
  @media screen and (min-width: 1090px) {
    .c-card__body--copy {
      top: -170px;
      font-size: 32px; } }

.c-card__text {
  padding: 16px 20px;
  line-height: 1.4; }
  @media screen and (min-width: 1090px) {
    .c-card__text {
      height: auto;
      margin-bottom: 34px; } }

.c-slider {
  position: relative;
  z-index: 200;
  width: 100%;
  max-width: 220px;
  margin: 0 auto; }
  @media screen and (min-width: 1090px) {
    .c-slider {
      width: 100%;
      max-width: 1040px;
      margin: 80px auto 30px; } }

.c-slider__slides {
  position: relative; }

.slides__inner {
  width: 500%; }

.slides__inner::after {
  display: block;
  height: 0;
  clear: both;
  content: ""; }

.slides--pc {
  display: none;
  width: 100%; }
  @media screen and (min-width: 1090px) {
    .slides--pc {
      display: block; } }

.slides--sp {
  display: block;
  width: 100%; }
  @media screen and (min-width: 1090px) {
    .slides--sp {
      display: none; } }

.slide {
  text-align: center;
  float: left; }
  @media screen and (max-width: 1090px) {
    .slide {
      width: 20%; } }
  @media screen and (min-width: 1090px) {
    .slide:not(:nth-child(3n)) {
      margin-right: 40px; } }

.overflow {
  overflow: hidden; }

.c-slider input {
  display: none; }

.c-slider__controls {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 50px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.c-slider__controls label {
  display: none;
  cursor: pointer; }

#slide-1:checked ~ .c-slider__controls label:nth-child(2),
#slide-2:checked ~ .c-slider__controls label:nth-child(3),
#slide-3:checked ~ .c-slider__controls label:nth-child(4),
#slide-4:checked ~ .c-slider__controls label:nth-child(5),
#slide-5:checked ~ .c-slider__controls label:nth-child(1),
#slide1-1:checked ~ .c-slider__controls label:nth-child(2),
#slide1-2:checked ~ .c-slider__controls label:nth-child(3),
#slide1-3:checked ~ .c-slider__controls label:nth-child(4),
#slide1-4:checked ~ .c-slider__controls label:nth-child(5),
#slide1-5:checked ~ .c-slider__controls label:nth-child(1),
#slide2-1:checked ~ .c-slider__controls label:nth-child(2),
#slide2-2:checked ~ .c-slider__controls label:nth-child(3),
#slide2-3:checked ~ .c-slider__controls label:nth-child(4),
#slide2-4:checked ~ .c-slider__controls label:nth-child(5),
#slide2-5:checked ~ .c-slider__controls label:nth-child(1),
#slide3-1:checked ~ .c-slider__controls label:nth-child(2),
#slide3-2:checked ~ .c-slider__controls label:nth-child(3),
#slide3-3:checked ~ .c-slider__controls label:nth-child(4),
#slide3-4:checked ~ .c-slider__controls label:nth-child(5),
#slide3-5:checked ~ .c-slider__controls label:nth-child(1) {
  display: block;
  width: 28px;
  height: 28px;
  margin-right: -40px;
  background-image: url(../../../images/right.svg);
  background-position: center;
  background-repeat: no-repeat;
  float: right; }
  @media screen and (min-width: 1090px) {
    #slide-1:checked ~ .c-slider__controls label:nth-child(2),
    #slide-2:checked ~ .c-slider__controls label:nth-child(3),
    #slide-3:checked ~ .c-slider__controls label:nth-child(4),
    #slide-4:checked ~ .c-slider__controls label:nth-child(5),
    #slide-5:checked ~ .c-slider__controls label:nth-child(1),
    #slide1-1:checked ~ .c-slider__controls label:nth-child(2),
    #slide1-2:checked ~ .c-slider__controls label:nth-child(3),
    #slide1-3:checked ~ .c-slider__controls label:nth-child(4),
    #slide1-4:checked ~ .c-slider__controls label:nth-child(5),
    #slide1-5:checked ~ .c-slider__controls label:nth-child(1),
    #slide2-1:checked ~ .c-slider__controls label:nth-child(2),
    #slide2-2:checked ~ .c-slider__controls label:nth-child(3),
    #slide2-3:checked ~ .c-slider__controls label:nth-child(4),
    #slide2-4:checked ~ .c-slider__controls label:nth-child(5),
    #slide2-5:checked ~ .c-slider__controls label:nth-child(1),
    #slide3-1:checked ~ .c-slider__controls label:nth-child(2),
    #slide3-2:checked ~ .c-slider__controls label:nth-child(3),
    #slide3-3:checked ~ .c-slider__controls label:nth-child(4),
    #slide3-4:checked ~ .c-slider__controls label:nth-child(5),
    #slide3-5:checked ~ .c-slider__controls label:nth-child(1) {
      width: 35px;
      height: 35px;
      margin-right: -50px; } }

#slide-1:checked ~ .c-slider__controls label:nth-child(5),
#slide-2:checked ~ .c-slider__controls label:nth-child(1),
#slide-3:checked ~ .c-slider__controls label:nth-child(2),
#slide-4:checked ~ .c-slider__controls label:nth-child(3),
#slide-5:checked ~ .c-slider__controls label:nth-child(4),
#slide1-1:checked ~ .c-slider__controls label:nth-child(5),
#slide1-2:checked ~ .c-slider__controls label:nth-child(1),
#slide1-3:checked ~ .c-slider__controls label:nth-child(2),
#slide1-4:checked ~ .c-slider__controls label:nth-child(3),
#slide1-5:checked ~ .c-slider__controls label:nth-child(4),
#slide2-1:checked ~ .c-slider__controls label:nth-child(5),
#slide2-2:checked ~ .c-slider__controls label:nth-child(1),
#slide2-3:checked ~ .c-slider__controls label:nth-child(2),
#slide2-4:checked ~ .c-slider__controls label:nth-child(3),
#slide2-5:checked ~ .c-slider__controls label:nth-child(4),
#slide3-1:checked ~ .c-slider__controls label:nth-child(5),
#slide3-2:checked ~ .c-slider__controls label:nth-child(1),
#slide3-3:checked ~ .c-slider__controls label:nth-child(2),
#slide3-4:checked ~ .c-slider__controls label:nth-child(3),
#slide3-5:checked ~ .c-slider__controls label:nth-child(4) {
  display: block;
  width: 28px;
  height: 28px;
  float: left;
  margin-left: -40px;
  background-image: url(../../../images/left.svg);
  background-position: center;
  background-repeat: no-repeat; }
  @media screen and (min-width: 1090px) {
    #slide-1:checked ~ .c-slider__controls label:nth-child(5),
    #slide-2:checked ~ .c-slider__controls label:nth-child(1),
    #slide-3:checked ~ .c-slider__controls label:nth-child(2),
    #slide-4:checked ~ .c-slider__controls label:nth-child(3),
    #slide-5:checked ~ .c-slider__controls label:nth-child(4),
    #slide1-1:checked ~ .c-slider__controls label:nth-child(5),
    #slide1-2:checked ~ .c-slider__controls label:nth-child(1),
    #slide1-3:checked ~ .c-slider__controls label:nth-child(2),
    #slide1-4:checked ~ .c-slider__controls label:nth-child(3),
    #slide1-5:checked ~ .c-slider__controls label:nth-child(4),
    #slide2-1:checked ~ .c-slider__controls label:nth-child(5),
    #slide2-2:checked ~ .c-slider__controls label:nth-child(1),
    #slide2-3:checked ~ .c-slider__controls label:nth-child(2),
    #slide2-4:checked ~ .c-slider__controls label:nth-child(3),
    #slide2-5:checked ~ .c-slider__controls label:nth-child(4),
    #slide3-1:checked ~ .c-slider__controls label:nth-child(5),
    #slide3-2:checked ~ .c-slider__controls label:nth-child(1),
    #slide3-3:checked ~ .c-slider__controls label:nth-child(2),
    #slide3-4:checked ~ .c-slider__controls label:nth-child(3),
    #slide3-5:checked ~ .c-slider__controls label:nth-child(4) {
      width: 35px;
      height: 35px;
      margin-left: -50px; } }

#slide-1:checked ~ .c-slider__slides .slides__inner,
#slide1-1:checked ~ .c-slider__slides .slides__inner,
#slide2-1:checked ~ .c-slider__slides .slides__inner,
#slide3-1:checked ~ .c-slider__slides .slides__inner {
  margin-left: 0; }

#slide-2:checked ~ .c-slider__slides .slides__inner,
#slide1-2:checked ~ .c-slider__slides .slides__inner,
#slide2-2:checked ~ .c-slider__slides .slides__inner,
#slide3-2:checked ~ .c-slider__slides .slides__inner {
  margin-left: -100%; }

#slide-3:checked ~ .c-slider__slides .slides__inner,
#slide1-3:checked ~ .c-slider__slides .slides__inner,
#slide2-3:checked ~ .c-slider__slides .slides__inner,
#slide3-3:checked ~ .c-slider__slides .slides__inner {
  margin-left: -200%; }

#slide-4:checked ~ .c-slider__slides .slides__inner,
#slide1-4:checked ~ .c-slider__slides .slides__inner,
#slide2-4:checked ~ .c-slider__slides .slides__inner,
#slide3-4:checked ~ .c-slider__slides .slides__inner {
  margin-left: -300%; }

#slide-5:checked ~ .c-slider__slides .slides__inner,
#slide1-5:checked ~ .c-slider__slides .slides__inner,
#slide2-5:checked ~ .c-slider__slides .slides__inner,
#slide3-5:checked ~ .c-slider__slides .slides__inner {
  margin-left: -400%; }

.c-slider__slides .slides__inner {
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out; }

/*****-------------------------------

    Project common setting

-------------------------------*****/
/*****-------------------------------
    Common Style
-------------------------------*****/
.p-bg--blur {
  position: relative;
  overflow: hidden;
  padding: 50px 20px 0 20px;
  width: 100%;
  height: 220px; }
  @media screen and (min-width: 1090px) {
    .p-bg--blur {
      height: 300px;
      padding-top: 50px; } }
  .p-bg--blur .c-sectiontitel,
  .p-bg--blur .c-sectiontext {
    color: #fff; }
  @media screen and (min-width: 1090px) {
    .p-bg--blur .c-sectiontext {
      font-weight: normal; } }

.p-slideconter::before,
.p-slideconter::after {
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  content: ""; }

.p-slideconter::before {
  bottom: 330px;
  left: 0;
  z-index: 101;
  height: 120px;
  overflow: hidden;
  background-color: #fff; }
  @media screen and (min-width: 1090px) {
    .p-slideconter::before {
      bottom: 457px;
      height: 100px; } }

.p-slideconter::after {
  bottom: -4px;
  z-index: 100;
  height: 390px;
  background-size: cover;
  background-position: center;
  -webkit-filter: blur(4px);
          filter: blur(4px); }
  @media screen and (min-width: 1090px) {
    .p-slideconter::after {
      height: 390px; } }

.p-slides__media {
  width: 100%;
  max-width: 220px;
  height: 138px; }
  @media screen and (min-width: 1090px) {
    .p-slides__media {
      max-width: 320px;
      height: auto; } }

.p-slides__body {
  position: relative;
  left: 0;
  right: 0;
  bottom: 35px;
  width: 200px;
  margin: auto;
  padding: 18px 20px;
  text-align: left;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 9px rgba(11, 11, 2, 0.13);
          box-shadow: 0px 0px 9px rgba(11, 11, 2, 0.13); }
  @media screen and (min-width: 1090px) {
    .p-slides__body {
      bottom: 50px;
      width: 270px;
      padding: 30px; } }

.p-slides__body--title {
  margin-bottom: 6px;
  font-size: 10px;
  font-weight: bold; }
  @media screen and (min-width: 1090px) {
    .p-slides__body--title {
      margin-bottom: 22px;
      font-size: 12px; } }

.p-slides__body--name {
  padding-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 8px;
  font-weight: bold;
  border-bottom: 1px solid #333; }
  .p-slides__body--name span {
    display: block;
    margin-bottom: 6px;
    font-size: 12px; }
    @media screen and (min-width: 1090px) {
      .p-slides__body--name span {
        margin-bottom: 8px;
        font-size: 22px; } }
  @media screen and (min-width: 1090px) {
    .p-slides__body--name {
      padding-bottom: 16px;
      margin-bottom: 16px;
      font-size: 12px; } }

.p-slides__body--text {
  padding-top: 8px;
  line-height: 1.3; }
  @media screen and (min-width: 1090px) {
    .p-slides__body--text {
      padding: 0;
      font-size: 14px;
      line-height: 1.5; } }

.p-bach--circle {
  background-color: rgba(0, 0, 0, 0.4); }

.p-loading {
  display: block; }
  .p-loading svg {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 320px;
    margin: auto;
    -webkit-animation: text-down 6.3s;
            animation: text-down 6.3s; }
    @media screen and (min-width: 1090px) {
      .p-loading svg {
        max-width: 600px; } }

.p-loading::before {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  width: 500px;
  height: 50px;
  margin: auto;
  background-color: #fff;
  content: "";
  -webkit-animation: text-in 5s ease-in-out .6s;
          animation: text-in 5s ease-in-out .6s; }
  @media screen and (min-width: 1090px) {
    .p-loading::before {
      width: 600px;
      height: 80px;
      -webkit-animation: text-in-lg 5s ease-in-out .6s;
              animation: text-in-lg 5s ease-in-out .6s; } }

.p-keyviasual {
  width: 100%;
  height: 100vh;
  background-color: rgba(43, 129, 160, 0.5);
  overflow: hidden; }

.p-keyviasual__bg {
  position: relative;
  width: 100%;
  min-height: 100vh;
  z-index: -1000;
  background-image: url(./../../../../images/top-pc.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.p-keyviasual__tagline {
  position: absolute;
  bottom: 57%;
  display: block;
  width: 100%;
  height: 25px;
  -webkit-animation: text 6.3s;
          animation: text 6.3s; }
  .p-keyviasual__tagline img {
    display: block;
    width: 100%;
    min-width: 320px;
    margin: auto; }
    @media screen and (min-width: 768px) {
      .p-keyviasual__tagline img {
        max-width: 600px; } }
    @media screen and (min-width: 1090px) {
      .p-keyviasual__tagline img {
        max-width: 870px; } }
  @media screen and (min-width: 1090px) {
    .p-keyviasual__tagline {
      bottom: 70%; } }

.p-keyviasual__text {
  position: absolute;
  left: 0;
  bottom: 30%;
  right: 0;
  margin: auto;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 2.3;
  letter-spacing: 1px;
  -webkit-animation: text 7s;
          animation: text 7s; }
  @media screen and (min-width: 768px) {
    .p-keyviasual__text {
      bottom: 25%;
      font-size: 18px;
      line-height: 1.8;
      letter-spacing: .5px; } }
  @media screen and (min-width: 1090px) {
    .p-keyviasual__text {
      font-size: 20px; } }

.p-keyviasual__scroll {
  position: absolute;
  right: 0;
  bottom: 5%;
  left: 0;
  width: 100%;
  margin: auto;
  text-align: center; }

.p-keyviasual__scroll__text {
  margin-bottom: 5px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  text-align: center;
  font-size: 7px;
  letter-spacing: 2px; }
  @media screen and (min-width: 768px) {
    .p-keyviasual__scroll__text {
      font-size: 12px; } }

.p-keyviasual__scroll__arrow {
  width: 20px;
  fill: #fff;
  text-align: center;
  -webkit-animation: arrow-down 1.35s ease 2s infinite;
          animation: arrow-down 1.35s ease 2s infinite; }

@media screen and (min-width: 1090px) {
  .p-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -130px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

.p-about__viasual {
  display: block;
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 342px; }
  @media screen and (min-width: 1090px) {
    .p-about__viasual {
      width: 535px;
      max-width: inherit;
      height: 383px;
      margin-top: 15px;
      margin-left: 30px;
      padding-right: 0; } }

.p-about__body {
  padding: 20px 0; }
  @media screen and (min-width: 1090px) {
    .p-about__body {
      padding: 185px 0 0px;
      width: 486px; } }

.p-about__body__copy {
  text-align: center; }
  .p-about__body__copy span {
    display: inline-block;
    padding: 0 23px;
    margin-bottom: 15px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    line-height: 2.5;
    background-color: #1aa1e6; }
  @media screen and (min-width: 1090px) {
    .p-about__body__copy {
      text-align: left; }
      .p-about__body__copy span {
        height: 64px;
        padding: 0 28px;
        margin-bottom: 13px;
        font-size: 25px;
        line-height: 2.6;
        letter-spacing: 2px; } }

.p-about__body__text {
  line-height: 1.6; }
  @media screen and (min-width: 1090px) {
    .p-about__body__text {
      padding-right: 50px;
      margin-top: 15px;
      line-height: 1.8; } }

@media screen and (min-width: 1090px) {
  .l-about .c-sectiontitel,
  .l-about .c-sectiontext {
    margin-right: 32px;
    margin-bottom: -6px;
    text-align: right; } }

.p-contents__cards {
  position: relative;
  max-width: 340px;
  margin: 0 auto 20px; }
  @media screen and (min-width: 1090px) {
    .p-contents__cards {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      max-width: 1020px;
      margin: 80px auto 20px;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .p-contents__cards .c-card:nth-child(2) {
        bottom: 35px; }
      .p-contents__cards .c-card:nth-child(5) {
        bottom: 40px; }
      .p-contents__cards .c-card:nth-child(3) {
        bottom: 75px; }
      .p-contents__cards .c-card:nth-child(6) {
        bottom: 80px; } }
  .p-contents__cards .c-card {
    position: relative;
    margin-bottom: 20px; }
    @media screen and (min-width: 1090px) {
      .p-contents__cards .c-card {
        height: 450px;
        margin-bottom: 40px; } }
  .p-contents__cards .c-bach {
    top: 9px;
    right: 0;
    width: 68px;
    height: 12px;
    font-size: 6px;
    line-height: 2; }
    @media screen and (min-width: 1090px) {
      .p-contents__cards .c-bach {
        top: 0;
        width: 122px;
        height: 25px;
        font-size: 11px;
        line-height: 2.1; } }
  .p-contents__cards .c-card__media {
    width: 100%;
    height: 180px;
    -webkit-filter: brightness(0.6);
            filter: brightness(0.6);
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 0 -30px;
       object-position: 0 -30px;
    -webkit-transform: scale(1, 0.9);
            transform: scale(1, 0.9); }
    @media screen and (min-width: 1090px) {
      .p-contents__cards .c-card__media {
        height: 270px;
        -webkit-filter: none;
                filter: none;
        -o-object-position: center;
           object-position: center;
        -webkit-transform: none;
                transform: none; } }
  .p-contents__cards .c-card__body {
    position: relative;
    bottom: 11px;
    margin: auto;
    font-size: 12px; }
    @media screen and (min-width: 1090px) {
      .p-contents__cards .c-card__body {
        height: 184px;
        font-size: 16px; } }
  @media screen and (min-width: 1090px) {
    .p-contents__cards .c-card__text {
      padding: 24px 30px; } }

@media screen and (min-width: 1090px) {
  .l-contents .c-sectiontitel,
  .l-contents .c-sectiontext {
    margin-left: 90px;
    text-align: left; } }

.p-schedule__cards {
  position: relative;
  top: -80px;
  margin: 0 20px -80px; }
  @media screen and (min-width: 1090px) {
    .p-schedule__cards {
      top: -65px;
      width: auto;
      margin-bottom: -30px; } }
  .p-schedule__cards .c-card {
    margin: 0 auto 50px; }
    @media screen and (min-width: 1090px) {
      .p-schedule__cards .c-card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        max-width: 1020px;
        max-height: 280px;
        margin: 0 auto 30px;
        overflow: hidden; } }
  .p-schedule__cards .c-bach {
    left: 0;
    right: 0;
    margin: 15px auto;
    width: 45px;
    height: 15px;
    font-size: 9px;
    line-height: 1.8; }
    @media screen and (min-width: 1090px) {
      .p-schedule__cards .c-bach {
        top: 32px;
        left: 44px;
        width: 85px;
        height: 28px;
        margin: 19px 0 0;
        font-size: 17px;
        line-height: 1.7;
        letter-spacing: 1.5px; } }
  .p-schedule__cards .c-card__media {
    width: 100%;
    height: 140px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 0 -30px;
       object-position: 0 -30px;
    -webkit-transform: scale(1, 0.9);
            transform: scale(1, 0.9); }
    @media screen and (min-width: 1090px) {
      .p-schedule__cards .c-card__media {
        max-width: 250px;
        height: auto;
        -o-object-position: center;
           object-position: center;
        -webkit-transform: none;
                transform: none; } }
  .p-schedule__cards .c-card__body {
    position: relative;
    top: -12px; }
    @media screen and (min-width: 1090px) {
      .p-schedule__cards .c-card__body {
        top: 0;
        max-width: 770px;
        padding: 0 20px; } }

@media screen and (min-width: 1090px) {
  .p-schedule__cards::after {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 7px;
    height: 1500px;
    margin: auto;
    background-color: #fff;
    content: ""; } }

.c-card__title {
  padding: 40px 22px 0;
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  line-height: 1.4; }
  @media screen and (min-width: 1090px) {
    .c-card__title {
      padding: 50px 50px 0 120px;
      margin-bottom: 14px;
      font-size: 26px;
      text-align: left; } }

.contains {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  height: 0;
  overflow: hidden;
  background: #fff; }
  @media screen and (min-width: 1090px) {
    .contains {
      height: auto; } }

input:checked ~ .contains {
  height: auto; }

.c-card__arrow {
  display: inline-block;
  position: absolute;
  right: 0;
  left: 0;
  width: 40px;
  padding: 0 13px;
  margin: auto;
  background-color: #fff; }
  @media screen and (min-width: 1090px) {
    .c-card__arrow {
      display: none; } }

.c-card__arrow::after {
  display: block;
  width: 14px;
  height: 20px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDEwMDAgMTAwMCI+PGcgZmlsbD0iIzAwMCI+PHBhdGggZD0iTTg4Ny4yLDIwOS4yTDQ5OS43LDU4OS4xTDExMi44LDIwOS43TDEwLDMxMC41bDQ4OS43LDQ4MC4zTDk5MCwzMTBMODg3LjIsMjA5LjJ6Ii8+PC9nPg0KPC9zdmc+DQo=");
  background-position: center;
  background-repeat: no-repeat;
  content: ""; }
  @media screen and (min-width: 1090px) {
    .c-card__arrow::after {
      display: none; } }

input:checked ~ .c-card__arrow::after {
  display: block;
  width: 14px;
  height: 20px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA5ODAgNTgxLjYiPjxnIGZpbGw9IiMwMDAiPjxwYXRoIGQ9Ik0xMDIuOCw1ODEuNiw0OTAuMywyMDEuNyw4NzcuMiw1ODEuMSw5ODAsNDgwLjMsNDkwLjMsMCwwLDQ4MC44WiIvPjwvZz48L3N2Zz4NCg==");
  background-position: center;
  background-repeat: no-repeat;
  content: ""; }

.p-tab__content {
  display: none; }

.p-tab__head {
  display: inline-block;
  padding: 10px 5px;
  margin: 5px 0 40px;
  text-align: center; }
  @media screen and (min-width: 1090px) {
    .p-tab__head {
      padding: 10px 10px;
      margin: 30px 0 0px 20px; } }

input:checked + .p-tab__head {
  border-bottom: 1px solid #1aa1e6;
  font-weight: bold; }

#tab1:checked ~ .is-tabopen1,
#tab2:checked ~ .is-tabopen2,
#tab3:checked ~ .is-tabopen3 {
  display: block; }

.p-tab {
  text-align: center; }

.c-accordion {
  margin-bottom: 10px; }

.p-qa {
  width: 100%;
  padding: 0 20px; }

.p-qa__container {
  position: relative;
  z-index: 960;
  display: block;
  width: 300px;
  padding-top: 30px;
  margin: auto; }
  @media screen and (min-width: 768px) {
    .p-qa__container {
      width: 100%;
      max-width: 1000px; } }

.p-qa__container--q {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 40px;
  padding: 14px 50px 14px 16px;
  cursor: pointer;
  background-color: #fff;
  font-size: 12px; }
  .p-qa__container--q span {
    margin-right: 13px; }
    @media screen and (min-width: 1090px) {
      .p-qa__container--q span {
        padding-left: 40px;
        margin-right: 24px; } }
  @media screen and (min-width: 1090px) {
    .p-qa__container--q {
      height: 80px;
      padding: 33px 50px 33px 16px;
      font-size: 16px; } }

.p-qa__container--q::after {
  display: block;
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
  width: 15px;
  height: 15px;
  margin: auto;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDEwMDAgMTAwMCI+PGcgZmlsbD0iIzZmNmY2ZiI+PHBhdGggZD0iTTg4Ny4yLDIwOS4yTDQ5OS43LDU4OS4xTDExMi44LDIwOS43TDEwLDMxMC41bDQ4OS43LDQ4MC4zTDk5MCwzMTBMODg3LjIsMjA5LjJ6Ii8+PC9nPg0KPC9zdmc+DQo=");
  background-position: center;
  background-repeat: no-repeat;
  content: ""; }
  @media screen and (min-width: 1090px) {
    .p-qa__container--q::after {
      width: 15px;
      height: 15px;
      right: 25px; } }

input:checked + .p-qa__container--q::after {
  display: block;
  position: absolute;
  right: 15px;
  bottom: 0;
  width: 15px;
  height: 15px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA5ODAgNTgxLjYiPjxnIGZpbGw9IiM2ZjZmNmYiPjxwYXRoIGQ9Ik0xMDIuOCw1ODEuNiw0OTAuMywyMDEuNyw4NzcuMiw1ODEuMSw5ODAsNDgwLjMsNDkwLjMsMCwwLDQ4MC44WiIvPjwvZz48L3N2Zz4NCg==");
  background-position: center;
  background-repeat: no-repeat;
  content: ""; }
  @media screen and (min-width: 1090px) {
    input:checked + .p-qa__container--q::after {
      width: 20px;
      height: 20px;
      right: 25px; } }

.p-qa__container--a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 0;
  overflow: hidden;
  padding: 0px 50px 0px 16px;
  color: #1aa1e6;
  font-weight: bold;
  line-height: 1.4;
  background-color: #fff;
  font-size: 12px;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .p-qa__container--a span {
    margin-right: 13px; }
    @media screen and (min-width: 1090px) {
      .p-qa__container--a span {
        margin-right: 24px;
        padding-left: 40px;
        font-size: 16px; } }

input:checked ~ .p-qa__container--a {
  width: 100%;
  height: auto;
  padding: 35px 50px 35px 16px;
  margin: auto; }

.l-partner {
  position: relative;
  text-align: center; }
  .l-partner img {
    width: 100%;
    max-height: 375px;
    margin: auto; }
    @media screen and (min-width: 1090px) {
      .l-partner img {
        width: 70%;
        max-height: 150px; } }

.p-messege {
  position: relative;
  right: 0;
  left: 0;
  bottom: 100px;
  width: 320px;
  padding: 35px 25px;
  margin: 0 auto -100px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 9px rgba(11, 11, 2, 0.13);
          box-shadow: 0px 0px 9px rgba(11, 11, 2, 0.13); }
  @media screen and (min-width: 1090px) {
    .p-messege {
      bottom: 200px;
      width: 1010px;
      padding: 35px 50px;
      margin-bottom: -200px; } }

.p-messege--title {
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: bold;
  text-align: center; }
  @media screen and (min-width: 1090px) {
    .p-messege--title {
      margin-top: 30px;
      margin-bottom: 30px;
      font-size: 26px;
      letter-spacing: 1px; } }

.p-messege--title::after {
  display: block;
  width: 50px;
  height: 1.5px;
  margin: 15px auto 0;
  background-color: #1aa1e6;
  content: ""; }
  @media screen and (min-width: 1090px) {
    .p-messege--title::after {
      width: 90px;
      margin-top: 32px; } }

.p-messege--text {
  font-size: 14px;
  line-height: 1.8; }
  @media screen and (min-width: 1090px) {
    .p-messege--text {
      padding: 0 50px;
      font-size: 16px;
      line-height: 2; } }

.p-wantedly__inner {
  position: relative;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: bold; }
  @media screen and (min-width: 768px) {
    .p-wantedly__inner p {
      padding: 50px 20px;
      font-size: 26px;
      letter-spacing: 2px; } }

.p-wantedly__inner__bachs {
  margin-top: 25px; }
  @media screen and (min-width: 768px) {
    .p-wantedly__inner__bachs {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      max-width: 768px;
      margin: auto;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -ms-flex-flow: wrap;
          flex-flow: wrap; } }
  @media screen and (min-width: 1090px) {
    .p-wantedly__inner__bachs {
      max-width: 1090px;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; } }

.p-bach--circle {
  display: inline-block;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 25px;
  font-size: 13px;
  text-align: center;
  line-height: 3.2;
  background-color: rgba(0, 0, 0, 0.6); }
  @media screen and (min-width: 768px) {
    .p-bach--circle {
      width: 48%;
      margin-bottom: 35px; } }
  @media screen and (min-width: 1090px) {
    .p-bach--circle {
      width: 336px;
      height: 60px;
      margin-bottom: 35px;
      margin-left: 40px;
      border-radius: 30px;
      font-size: 18px;
      line-height: 3.5; } }

@media screen and (min-width: 1090px) {
  .p-bach--circle:nth-child(3n+1) {
    margin-left: 0; } }

.p-entryform {
  position: relative;
  padding: 30px 20px;
  margin: 45px auto;
  background-color: #fff; }
  @media screen and (min-width: 1090px) {
    .p-entryform {
      width: 100%;
      max-width: 1020px;
      padding: 30px 40px;
      margin: 80px auto 45px; } }
  .p-entryform input[type="submit"] {
    display: block;
    width: 100%;
    max-width: 290px;
    height: 48px;
    padding-top: 2px;
    margin: auto;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: #1aa1e6; }
    .p-entryform input[type="submit"]:hover {
      background-color: #0084bb; }
    @media screen and (min-width: 1090px) {
      .p-entryform input[type="submit"] {
        max-width: 545px;
        height: 90px;
        font-size: 18px; } }

.p-entryform__text {
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 1.4; }
  @media screen and (min-width: 1090px) {
    .p-entryform__text {
      margin: 50px 0 65px;
      font-size: 18px; } }

.element_wrap input,
.element_wrap textarea {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  background-color: #eee;
  border: none;
  resize: none; }
  @media screen and (min-width: 1090px) {
    .element_wrap input,
    .element_wrap textarea {
      margin-bottom: 20px; } }

.element_wrap label {
  margin-bottom: 15px;
  font-weight: 500; }
  @media screen and (min-width: 1090px) {
    .element_wrap label {
      margin-bottom: 10px;
      font-size: 13px; } }

.element_wrap input[type="text"] {
  height: 38px; }
  @media screen and (min-width: 1090px) {
    .element_wrap input[type="text"] {
      height: 65px; } }

.element_wrap textarea {
  height: 130px; }
  @media screen and (min-width: 1090px) {
    .element_wrap textarea {
      margin-bottom: 30px; } }

.c-bach--entry {
  display: inline-block;
  width: 25px;
  height: 14px;
  margin-left: 10px;
  color: #fff;
  font-size: 9px;
  text-align: center;
  line-height: 1.6;
  vertical-align: top;
  background-color: #0084bb; }
  @media screen and (min-width: 1090px) {
    .c-bach--entry {
      width: 35px;
      height: 18px;
      margin-left: 8px;
      font-size: 11px;
      line-height: 1.8;
      vertical-align: text-bottom; } }

.p-linelink {
  padding: 15px 20px 20px;
  background-color: #fff; }
  @media screen and (min-width: 1090px) {
    .p-linelink {
      width: 100%;
      max-width: 1020px;
      margin: auto;
      padding: 25px 30px; } }

.p-linelink__text {
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1.4; }

.p-linelink__button {
  display: block;
  position: relative;
  width: 100%;
  max-width: 290px;
  height: 40px;
  margin: auto;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  line-height: 3;
  background-color: #1dcd00; }
  .p-linelink__button:hover {
    background-color: #1ba903; }
  @media screen and (min-width: 1090px) {
    .p-linelink__button {
      max-width: 545px;
      height: 75px;
      font-size: 18px;
      line-height: 4.3; } }

form::after,
.p-linelink__button::after {
  display: block;
  position: relative;
  width: 400px;
  height: 15px;
  margin: auto;
  background-image: url(../../../images/right.svg);
  background-position: center right 40px;
  background-repeat: no-repeat;
  content: ""; }
  @media screen and (min-width: 1090px) {
    form::after,
    .p-linelink__button::after {
      width: 545px; } }

form::after {
  bottom: 40px; }
  @media screen and (min-width: 1090px) {
    form::after {
      bottom: 50px; } }

.p-linelink__button::after {
  bottom: 35px; }
  @media screen and (min-width: 1090px) {
    .p-linelink__button::after {
      bottom: 45px; } }

.p-copyright {
  display: block;
  padding: 20px; }
