.p-about__viasual {
    display: block;
    position: relative;
    z-index: 2;
    width: 324px;
    height: 200px;
}

.p-about__body::before {
    display: block;
    position: absolute;
    top: 161px;
    right: 20px;
    width: 324px;
    height: 200px;
    background-color: $main;
    content: "";
}

.p-about__body {
    padding: 25px 0;
}

.p-about__body__copy {
    text-align: center;
    span {
        display: inline-block;
        padding: 0 23px;
        margin-bottom: 18px;
        color: #fff;
        font-weight: bold;
        font-size: 17px;
        line-height: 2.5;
        background-color: $main;
    }
}

.p-about__body__text {
    line-height: 1.8;
}
