.p-contents__cards {
    position: relative;
    max-width: 335px;
    margin: 0 auto 20px;
    .c-card {
        margin-bottom: 20px;
    }
    .c-bach {
        top: 0;
        right: 0;
        width: 68px;
        height: 12px;
        font-size: 6px;
        line-height: 2;
    }
    .c-card__media {
        filter: brightness(0.6);
    }
    .c-card__body {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
    }
}
