/*****-------------------------------
    Contents style
-------------------------------*****/

.p-contents__cards {
    position: relative;
    max-width: 340px;
    margin: 0 auto 20px;
    @include mq-up(lg) {
        display: flex;
        max-width: 1020px;
        margin: 80px auto 20px;
        flex-wrap: wrap;
        justify-content: space-between;
        .c-card:nth-child(2) {
            bottom: 35px;
        }
        .c-card:nth-child(5) {
            bottom: 40px;
        }
        .c-card:nth-child(3) {
            bottom: 75px;
        }
        .c-card:nth-child(6) {
            bottom: 80px;
        }
    }
    .c-card {
        position: relative;
        margin-bottom: 20px;
        @include mq-up(lg) {
            height: 450px;
            margin-bottom: 40px;
        }
    }
    .c-bach {
        top: 9px;
        right: 0;
        width: 68px;
        height: 12px;
        font-size: 6px;
        line-height: 2;
        @include mq-up(lg) {
            top: 0;
            width: 122px;
            height: 25px;
            font-size: 11px;
            line-height: 2.1;
        }
    }
    .c-card__media {
        width: 100%;
        height: 180px;
        filter: brightness(0.6);
        object-fit: cover;
        object-position: 0 -30px;
        transform: scale(1, 0.9);
        @include mq-up(lg) {
            height: 270px;
            object-position: center;
            transform: none;
        }
    }
    .c-card__body {
        position: relative;
        bottom: 11px;
        margin: auto;
        font-size: 12px;
        @include mq-up(lg) {
            height: 184px;
            font-size: 16px;
        }
    }
    .c-card__text {
        line-height: 2;
        @include mq-up(lg) {
            padding: 24px 30px;
        }
    }
}

.l-contents .c-sectiontitel,
.l-contents .c-sectiontext {
    @include mq-up(lg) {
        margin-left: 90px;
        text-align: left;
    }
}
