.p-entryform {
    position: relative;
    padding: 30px 20px;
    margin: 45px auto;
    background-color: #fff;
    @include mq-up(lg) {
        width: 100%;
        max-width: 1090px;
        margin: 70px auto 45px;
    }
    input[type="submit"] {
        display: block;
        width: 100%;
        max-width: 290px;
        height: 48px;
        padding-top: 2px;
        margin: auto;
        color: #fff;
        font-weight: bold;
        letter-spacing: 1px;
        background-color: $main;
        &:hover {
            background-color: #0084bb;
        }
        @include mq-up(lg) {
            max-width: 400px;
            height: 65px;
        }
    }
}

.p-entryform__text {
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 1.4;
    @include mq-up(lg) {
        margin: 50px 0;
    }
}

.element_wrap input,
.element_wrap textarea {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    background-color: #eee;
    border: none;
    resize: none;
}

.element_wrap {
    label {
        margin-bottom: 15px;
        font-weight: 500;
    }
    input[type="text"] {
        height: 42px;
    }
    textarea {
        height: 78px;
        @include mq-up(lg) {
            margin-bottom: 30px;
        }
    }
}

.c-bach--entry {
    display: inline-block;
    width: 25px;
    height: 14px;
    margin-left: 8px;
    color: #fff;
    font-size: 9px;
    text-align: center;
    line-height: 1.6;
    vertical-align: top;
    background-color: #0084bb;
}

.p-linelink {
    padding: 15px 20px 20px;
    background-color: #fff;
    @include mq-up(lg) {
        width: 100%;
        max-width: 1090px;
        margin: auto;
        padding: 25px 20px 30px;
    }
}

.p-linelink__text {
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1.4;
}

.p-linelink__button {
    display: block;
    position: relative;
    width: 100%;
    max-width: 290px;
    height: 40px;
    margin: auto;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    line-height: 3;
    background-color: #1dcd00;
    &:hover {
        background-color: #1ba903;
    }
    @include mq-up(lg) {
        max-width: 400px;
        height: 55px;
        line-height: 3.5;
    }
}

form::after,
.p-linelink__button::after {
    display: block;
    position: relative;
    width: 400px;
    height: 15px;
    margin: auto;
    background-image: url(../../../images/right.svg);
    background-position: center right 40px;
    background-repeat: no-repeat;
    content: "";
}

form::after {
    bottom: 40px;
}

.p-linelink__button::after {
    bottom: 35px;
}
