.p-keyviasual {
    //display: block;
    width: 100%;
    height: 100vh;
    background-color: rgba(#2b81a0, .5);
    overflow: hidden;
}

.p-keyviasual__bg {
    position: relative;
    //TODO change video
    //    position: absolute;
    //    right: 0;
    //    bottom: 0;
    //min-width: 100%;
    //min-height: 100%;
    //width: auto;
    //height: auto;
    //    max-height: 100vh;
    width: 100%;
    min-height: 100vh;
    z-index: -1000;
    background-image: url(./../../../../images/top-pc.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.p-keyviasual__tagline {
    position: absolute;
    bottom: 57%;
    display: block;
    width: 100%;
    height: 25px;
    animation: text 6.3s;
    img {
        display: block;
        width: 100%;
        min-width: 320px;
        margin: auto;
        @include mq-up(md) {
            max-width: 600px;
        }
        @include mq-up(lg) {
            max-width: 870px;
        }
    }
    @include mq-up(lg) {
        bottom: 70%;
    }
}

.p-keyviasual__text {
    position: absolute;
    left: 0;
    bottom: 30%;
    right: 0;
    margin: auto;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 2.3;
    letter-spacing: 1px;
    animation: text 7s;
    @include mq-up(md) {
        bottom: 25%;
        font-size: 18px;
        line-height: 1.8;
        letter-spacing: .5px;
    }
    @include mq-up(lg) {
        font-size: 20px;
    }
}

.p-keyviasual__scroll {
    position: absolute;
    right: 0;
    bottom: 5%;
    left: 0;
    width: 100%;
    margin: auto;
    text-align: center;
}

.p-keyviasual__scroll__text {
    margin-bottom: 5px;
    @include font-family("en");
    color: #fff;
    text-align: center;
    font-size: 7px;
    letter-spacing: 2px;
    @include mq-up(md) {
        font-size: 12px;
    }
}

.p-keyviasual__scroll__arrow {
    width: 20px;
    fill: #fff;
    text-align: center;
    animation: arrow-down 1.35s ease 2s infinite;
}
