/*****-------------------------------
    Partner style
-------------------------------*****/

.l-partner {
    position: relative;
    text-align: center;
    //    &>img {
    //        width: 100%;
    //        max-height: 375px;
    //        margin: auto;
    //        @include mq-up(lg) {
    //            width: 70%;
    //            max-height: 150px;
    //        }
}

.p-partner {
    position: relative;
    margin-top: 60px;
    max-height: 570px;
    overflow: hidden;
}

.p-partner::before,
.p-partner::after {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 1000;
    width: 100%;
    color: $sub-font;
    background-position: center;
    background-repeat: no-repeat;
}

.p-partner::before {
    padding-top: 25%;
    height: 100%;
    font-size: 24px;
    font-weight: bold;
    @include font-family("en");
    background-color: rgba(#fff, .9);
    content: "Comming soon.....";
    @include mq-up(sm) {
        padding-top: 140px;
    }
    @include mq-up(md) {
        padding-top: 80px;
    }
}

.p-partner::after {
    height: 100%;
    padding-top: 35%;
    font-size: 14px;
    content: "ただいま準備中です";
    @include mq-up(sm) {
        padding-top: 180px;
    }
    @include mq-up(md) {
        padding-top: 120px;
    }
}

.p-partner--banners {
    display: flex;
    width: 100%;
    max-width: 800px;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
    @include mq-up(lg) {
        justify-content: space-around;
    }
    li {
        display: block;
        width: 50%;
        max-width: 250px;
        max-height: 100px;
        margin-bottom: 66px;
        background-color: #bbb;
        @include mq-up(lg) {
            width: 30%;
            max-width: inherit;
        }
        img {
            display: block;
            width: 100%;
        }
    }
    li:nth-child(n+5) {
        @include mq-up(lg) {
            margin-bottom: 0;
        }
    }
    li:nth-child(n+4) {
        @include mq-up(lg) {
            margin-bottom: 0;
        }
    }
}
