.p-schedule__cards {
    position: relative;
    top: -80px;
    margin: 0 20px -80px;
    @include mq-up(lg) {
        top: -65px;
        width: auto;
        margin-bottom: -30px;
    }
    .c-card {
        margin: 0 auto 50px;
        @include mq-up(lg) {
            display: flex;
            width: 100%;
            max-width: 1020px;
            max-height: 280px;
            margin: 0 auto 30px;
            overflow: hidden;
        }
    }
    .c-bach {
        left: 0;
        right: 0;
        margin: 15px auto;
        width: 45px;
        height: 15px;
        font-size: 9px;
        line-height: 1.8;
        @include mq-up(lg) {
            top: 32px;
            left: 44px;
            width: 85px;
            height: 28px;
            margin: 19px 0 0;
            font-size: 17px;
            line-height: 1.7;
            letter-spacing: 1.5px;
        }
    }
    .c-card__media {
        width: 100%;
        height: 140px;
        object-fit: cover;
        object-position: 0 -30px;
        transform: scale(1, .9);
        @include mq-up(lg) {
            max-width: 250px;
            height: auto;
            object-position: center;
            transform: none;
        }
    }
    .c-card__body {
        position: relative;
        top: -12px;
        @include mq-up(lg) {
            top: 0;
            max-width: 770px;
            padding: 0 20px;
        }
    }
}

.p-schedule__cards::after {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 7px;
    height: 1500px;
    margin: auto;
    background-color: #fff;
    content: "";
}

.c-card__title {
    padding: 40px 22px 0;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    line-height: 1.4;
    @include mq-up(lg) {
        padding: 50px 50px 0 120px;
        margin-bottom: 14px;
        font-size: 26px;
        text-align: left;
    }
}

.contains {
    transition: 0.2s;
    height: 0;
    overflow: hidden;
    background: #fff;
    @include mq-up(lg) {
        height: auto;
    }
}

input:checked~.contains {
    height: auto;
}

.c-card__arrow {
    display: inline-block;
    position: absolute;
    right: 0;
    left: 0;
    width: 40px;
    padding: 0 13px;
    margin: auto;
    background-color: #fff;
    @include mq-up(lg) {
        display: none;
    }
}

.c-card__arrow::after {
    display: block;
    width: 14px;
    height: 20px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDEwMDAgMTAwMCI+PGcgZmlsbD0iIzAwMCI+PHBhdGggZD0iTTg4Ny4yLDIwOS4yTDQ5OS43LDU4OS4xTDExMi44LDIwOS43TDEwLDMxMC41bDQ4OS43LDQ4MC4zTDk5MCwzMTBMODg3LjIsMjA5LjJ6Ii8+PC9nPg0KPC9zdmc+DQo=");
    background-position: center;
    background-repeat: no-repeat;
    content: "";
    @include mq-up(lg) {
        display: none;
    }
}

input:checked~.c-card__arrow::after {
    display: block;
    width: 14px;
    height: 20px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA5ODAgNTgxLjYiPjxnIGZpbGw9IiMwMDAiPjxwYXRoIGQ9Ik0xMDIuOCw1ODEuNiw0OTAuMywyMDEuNyw4NzcuMiw1ODEuMSw5ODAsNDgwLjMsNDkwLjMsMCwwLDQ4MC44WiIvPjwvZz48L3N2Zz4NCg==");
    background-position: center;
    background-repeat: no-repeat;
    content: "";
}
