.p-schedule__cards {
    position: relative;
    top: -200px;
    padding: 0 20px;
    .c-card {
        margin-bottom: 30px;
    }
    .c-bach {
        left: 0;
        right: 0;
        margin: 15px auto;
        width: 45px;
        height: 15px;
        font-size: 9px;
        line-height: 1.8;
    }
    .c-card__media {
        height: 140px;
    }
    .c-card__body {
        position: relative;
        top: -2px;
    }
}

.c-card__title {
    padding-top: 40px;
    margin-bottom: 20px;
    font-size: 19px;
    text-align: center;
}

.contains {
    transition: 0.2s;
    height: 0;
    overflow: hidden;
    background: #fff;
}

input:checked~.contains {
    height: auto;
}

.c-card__arrow {
    display: inline-block;
    position: absolute;
    right: 0;
    left: 0;
    width: 40px;
    padding: 0 13px;
    margin: auto;
    background-color: #fff;
}

.c-card__arrow::after {
    display: block;
    width: 14px;
    height: 20px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDEwMDAgMTAwMCI+PGcgZmlsbD0iIzAwMCI+PHBhdGggZD0iTTg4Ny4yLDIwOS4yTDQ5OS43LDU4OS4xTDExMi44LDIwOS43TDEwLDMxMC41bDQ4OS43LDQ4MC4zTDk5MCwzMTBMODg3LjIsMjA5LjJ6Ii8+PC9nPg0KPC9zdmc+DQo=");
    background-position: center;
    background-repeat: no-repeat;
    content: "";
}

input:checked~.c-card__arrow::after {
    display: block;
    width: 14px;
    height: 20px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA5ODAgNTgxLjYiPjxnIGZpbGw9IiMwMDAiPjxwYXRoIGQ9Ik0xMDIuOCw1ODEuNiw0OTAuMywyMDEuNyw4NzcuMiw1ODEuMSw5ODAsNDgwLjMsNDkwLjMsMCwwLDQ4MC44WiIvPjwvZz48L3N2Zz4NCg==");
    background-position: center;
    background-repeat: no-repeat;
    content: "";
}
