.p-wantedly__inner {
    position: relative;
    color: #fff;
    text-align: center;
    font-weight: bold;
    p {
        @include mq-up(lg) {
            padding: 50px 20px;
            font-size: 24px;
            letter-spacing: 2px;
        }
    }
}

.p-wantedly__inner__bachs {
    margin-top: 25px;
    @include mq-up(lg) {
        display: flex;
        max-width: 1090px;
        margin: auto;
        flex-flow: wrap;
    }
}

.p-bach--circle {
    display: inline-block;
    width: 100%;
    height: 33px;
    margin-bottom: 10px;
    border-radius: 15px;
    font-size: 13px;
    text-align: center;
    line-height: 2.5;
    background-color: rgba(0, 0, 0, 0.6);
    @include mq-up(lg) {
        width: 336px;
        height: 60px;
        margin-bottom: 35px;
        margin-left: 40px;
        border-radius: 30px;
        font-size: 18px;
        line-height: 3.5;
    }
}

.p-bach--circle:nth-child(3n+1) {
    @include mq-up(lg) {
        margin-left: 0;
    }
}
